packages/testing/playwright/test-workflows/snapshots/103-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:14.982Z",
		"workflowId": "103"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"filename": "filename1752767174837"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Execute Command": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Set"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"exitCode": 0,
												"stderr": "",
												"stdout": ""
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Read Binary File": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Execute Command"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"exitCode": 0,
												"stderr": "",
												"stdout": ""
											},
											"binary": {
												"data": {
													"mimeType": "text/plain",
													"fileType": "text",
													"data": "dGVzdAo=",
													"directory": "/tmp",
													"fileName": "filename1752767174837",
													"fileSize": "5 B"
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Function": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Read Binary File"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"exitCode": 0,
												"stderr": "",
												"stdout": ""
											},
											"binary": {
												"data": {
													"mimeType": "text/plain",
													"fileType": "text",
													"data": "dGVzdAo=",
													"directory": "/tmp",
													"fileName": "filename1752767174837",
													"fileSize": "5 B"
												}
											},
											"pairedItem": {
												"item": 0
											},
											"index": 0
										}
									]
								]
							}
						}
					],
					"Execute Command1": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Function"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"exitCode": 0,
												"stderr": "",
												"stdout": ""
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Execute Command1"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
