packages/testing/playwright/test-workflows/snapshots/105-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:14.936Z",
		"workflowId": "105"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Function": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"binary": {
												"data": {
													"data": "VGVzdCBXcml0ZSBCaW5hcnkgRmlsZSBub2Rl",
													"fileExtension": "txt",
													"fileName": "file.txt"
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Write Binary File": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Function"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"fileName": "/tmp/test_write_binary_file.txt"
											},
											"pairedItem": {
												"item": 0
											},
											"binary": {
												"data": {
													"data": "VGVzdCBXcml0ZSBCaW5hcnkgRmlsZSBub2Rl",
													"fileExtension": "txt",
													"fileName": "file.txt"
												}
											}
										}
									]
								]
							}
						}
					],
					"Read Binary File": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Write Binary File"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"fileName": "/tmp/test_write_binary_file.txt"
											},
											"binary": {
												"data": {
													"mimeType": "text/plain",
													"fileType": "text",
													"fileExtension": "txt",
													"data": "VGVzdCBXcml0ZSBCaW5hcnkgRmlsZSBub2Rl",
													"directory": "/tmp",
													"fileName": "test_write_binary_file.txt",
													"fileSize": "27 B"
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Function1": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Read Binary File"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"fileName": "/tmp/test_write_binary_file.txt"
											},
											"binary": {
												"data": {
													"mimeType": "text/plain",
													"fileType": "text",
													"fileExtension": "txt",
													"data": "VGVzdCBXcml0ZSBCaW5hcnkgRmlsZSBub2Rl",
													"directory": "/tmp",
													"fileName": "test_write_binary_file.txt",
													"fileSize": "27 B"
												}
											},
											"pairedItem": {
												"item": 0
											},
											"index": 0
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Function1"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
