packages/testing/playwright/test-workflows/snapshots/108-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:14.998Z",
		"workflowId": "108"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"value1": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set1": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"value2": 5
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set2": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop3": -1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set3": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop2": 2,
												"prop4": -1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set7": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop3": -1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set6": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop2": 2,
												"prop3": -2,
												"prop4": -3
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set9": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop2": -1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set8": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop3": 2,
												"prop4": -4
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set11": [
						{
							"executionIndex": 9,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop2": -1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set10": [
						{
							"executionIndex": 10,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop3": 2,
												"prop4": -4
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set13": [
						{
							"executionIndex": 11,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop2": -1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set12": [
						{
							"executionIndex": 12,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop3": 2,
												"prop4": -4
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Function11": [
						{
							"executionIndex": 13,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"title": "Input1item1"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"title": "Input1item2"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"title": "Input1item3"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Function12": [
						{
							"executionIndex": 14,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"title": "Input2item1"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"title": "Input2item2"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"title": "Input2item3"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"title": "Input2item4"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Merge": [
						{
							"executionIndex": 15,
							"source": [
								{
									"previousNode": "Set"
								},
								{
									"previousNode": "Set1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"value1": true
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"value2": 5
											},
											"pairedItem": {
												"item": 0,
												"input": 1
											}
										}
									]
								]
							}
						}
					],
					"Merge1": [
						{
							"executionIndex": 16,
							"source": [
								{
									"previousNode": "Set2"
								},
								{
									"previousNode": "Set3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop3": -1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Merge5": [
						{
							"executionIndex": 17,
							"source": [
								{
									"previousNode": "Set7"
								},
								{
									"previousNode": "Set6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop3": -1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Merge6": [
						{
							"executionIndex": 18,
							"source": [
								{
									"previousNode": "Set7"
								},
								{
									"previousNode": "Set6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop3": -1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Merge7": [
						{
							"executionIndex": 19,
							"source": [
								{
									"previousNode": "Set7"
								},
								{
									"previousNode": "Set6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop3": -1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Merge8": [
						{
							"executionIndex": 20,
							"source": [
								{
									"previousNode": "Set9"
								},
								{
									"previousNode": "Set8"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop2": -1,
												"prop3": 2,
												"prop4": -4
											},
											"pairedItem": [
												{
													"item": 0
												},
												{
													"item": 0,
													"input": 1
												}
											]
										}
									]
								]
							}
						}
					],
					"Merge9": [
						{
							"executionIndex": 21,
							"source": [
								{
									"previousNode": "Set11"
								},
								{
									"previousNode": "Set10"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop2": -1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Merge10": [
						{
							"executionIndex": 22,
							"source": [
								{
									"previousNode": "Set13"
								},
								{
									"previousNode": "Set12"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop2": -1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Merge3": [
						{
							"executionIndex": 23,
							"source": [
								{
									"previousNode": "Function11"
								},
								{
									"previousNode": "Function12"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"title": "Input2item1"
											},
											"pairedItem": [
												{
													"item": 0
												},
												{
													"item": 0,
													"input": 1
												}
											]
										},
										{
											"json": {
												"title": "Input2item2"
											},
											"pairedItem": [
												{
													"item": 1
												},
												{
													"item": 1,
													"input": 1
												}
											]
										},
										{
											"json": {
												"title": "Input2item3"
											},
											"pairedItem": [
												{
													"item": 2
												},
												{
													"item": 2,
													"input": 1
												}
											]
										}
									]
								]
							}
						}
					],
					"Merge2": [
						{
							"executionIndex": 24,
							"source": [
								{
									"previousNode": "Function11"
								},
								{
									"previousNode": "Function12"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"title": "Input2item1"
											},
											"pairedItem": [
												{
													"item": 0
												},
												{
													"item": 0,
													"input": 1
												}
											]
										},
										{
											"json": {
												"title": "Input2item2"
											},
											"pairedItem": [
												{
													"item": 1
												},
												{
													"item": 1,
													"input": 1
												}
											]
										},
										{
											"json": {
												"title": "Input2item3"
											},
											"pairedItem": [
												{
													"item": 2
												},
												{
													"item": 2,
													"input": 1
												}
											]
										}
									]
								]
							}
						}
					],
					"Merge4": [
						{
							"executionIndex": 25,
							"source": [
								{
									"previousNode": "Function11"
								},
								{
									"previousNode": "Function12"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"title": "Input2item1"
											},
											"pairedItem": [
												{
													"item": 0
												},
												{
													"item": 0,
													"input": 1
												}
											]
										},
										{
											"json": {
												"title": "Input2item2"
											},
											"pairedItem": [
												{
													"item": 1
												},
												{
													"item": 1,
													"input": 1
												}
											]
										},
										{
											"json": {
												"title": "Input2item3"
											},
											"pairedItem": [
												{
													"item": 2
												},
												{
													"item": 2,
													"input": 1
												}
											]
										},
										{
											"json": {
												"title": "Input2item4"
											},
											"pairedItem": {
												"item": 3,
												"input": 1
											}
										}
									]
								]
							}
						}
					],
					"Function": [
						{
							"executionIndex": 26,
							"source": [
								{
									"previousNode": "Merge"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"value1": true
											},
											"pairedItem": {
												"item": 0
											},
											"index": 0
										},
										{
											"json": {
												"value2": 5
											},
											"pairedItem": {
												"item": 1
											},
											"index": 1
										}
									]
								]
							}
						}
					],
					"Function1": [
						{
							"executionIndex": 27,
							"source": [
								{
									"previousNode": "Merge1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop3": -1
											},
											"pairedItem": {
												"item": 0
											},
											"index": 0
										}
									]
								]
							}
						}
					],
					"Function5": [
						{
							"executionIndex": 28,
							"source": [
								{
									"previousNode": "Merge5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop3": -1
											},
											"pairedItem": {
												"item": 0
											},
											"index": 0
										}
									]
								]
							}
						}
					],
					"Function6": [
						{
							"executionIndex": 29,
							"source": [
								{
									"previousNode": "Merge6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop3": -1
											},
											"pairedItem": {
												"item": 0
											},
											"index": 0
										}
									]
								]
							}
						}
					],
					"Function7": [
						{
							"executionIndex": 30,
							"source": [
								{
									"previousNode": "Merge7"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop3": -1
											},
											"pairedItem": {
												"item": 0
											},
											"index": 0
										}
									]
								]
							}
						}
					],
					"Function8": [
						{
							"executionIndex": 31,
							"source": [
								{
									"previousNode": "Merge8"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop2": -1,
												"prop3": 2,
												"prop4": -4
											},
											"pairedItem": {
												"item": 0
											},
											"index": 0
										}
									]
								]
							}
						}
					],
					"Function9": [
						{
							"executionIndex": 32,
							"source": [
								{
									"previousNode": "Merge9"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop2": -1
											},
											"pairedItem": {
												"item": 0
											},
											"index": 0
										}
									]
								]
							}
						}
					],
					"Function10": [
						{
							"executionIndex": 33,
							"source": [
								{
									"previousNode": "Merge10"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"prop1": 1,
												"prop2": -1
											},
											"pairedItem": {
												"item": 0
											},
											"index": 0
										}
									]
								]
							}
						}
					],
					"Function3": [
						{
							"executionIndex": 34,
							"source": [
								{
									"previousNode": "Merge3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"title": "Input2item1"
											},
											"pairedItem": {
												"item": 0
											},
											"index": 0
										},
										{
											"json": {
												"title": "Input2item2"
											},
											"pairedItem": {
												"item": 1
											},
											"index": 1
										},
										{
											"json": {
												"title": "Input2item3"
											},
											"pairedItem": {
												"item": 2
											},
											"index": 2
										}
									]
								]
							}
						}
					],
					"Function2": [
						{
							"executionIndex": 35,
							"source": [
								{
									"previousNode": "Merge2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"title": "Input2item1"
											},
											"pairedItem": {
												"item": 0
											},
											"index": 0
										},
										{
											"json": {
												"title": "Input2item2"
											},
											"pairedItem": {
												"item": 1
											},
											"index": 1
										},
										{
											"json": {
												"title": "Input2item3"
											},
											"pairedItem": {
												"item": 2
											},
											"index": 2
										}
									]
								]
							}
						}
					],
					"Function4": [
						{
							"executionIndex": 36,
							"source": [
								{
									"previousNode": "Merge4"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"title": "Input2item1"
											},
											"pairedItem": {
												"item": 0
											},
											"index": 0
										},
										{
											"json": {
												"title": "Input2item2"
											},
											"pairedItem": {
												"item": 1
											},
											"index": 1
										},
										{
											"json": {
												"title": "Input2item3"
											},
											"pairedItem": {
												"item": 2
											},
											"index": 2
										},
										{
											"json": {
												"title": "Input2item4"
											},
											"pairedItem": {
												"item": 3
											},
											"index": 3
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Function4"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
