packages/testing/playwright/test-workflows/snapshots/11-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:25.794Z",
		"workflowId": "11"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Mailchimp1": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "c81277605b129fdafaacede5ae34e07c",
												"email_address": "nodeqa@n8n.io",
												"unique_email_id": "cb7624ba4b",
												"contact_id": "2f4ff7f445018adb50969f99df88dd9e",
												"full_name": "node qa",
												"web_id": 502612022,
												"email_type": "html",
												"status": "subscribed",
												"consents_to_one_to_one_messaging": true,
												"sms_phone_number": "",
												"sms_subscription_status": "",
												"sms_subscription_last_updated": "",
												"merge_fields": {
													"object": true
												},
												"interests": {
													"object": true
												},
												"stats": {
													"object": true
												},
												"ip_signup": "",
												"timestamp_signup": "",
												"ip_opt": "41.62.62.149",
												"timestamp_opt": "2021-02-19T10:59:04+00:00",
												"member_rating": 2,
												"last_changed": "2025-07-17T15:23:20+00:00",
												"language": "",
												"vip": false,
												"email_client": "",
												"location": {
													"object": true
												},
												"source": "Admin Add",
												"tags_count": 0,
												"tags": ["json array"],
												"list_id": "eb9ad4be19",
												"_links": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Function": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"email": "test67177827@gmail.com"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Mailchimp7": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"category_id": "2adbc0d543",
												"list_id": "eb9ad4be19",
												"id": "928c597e2a",
												"name": "QA",
												"subscriber_count": "1",
												"display_order": 1,
												"_links": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Mailchimp8": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "e117a6f053",
												"status": "sent",
												"settings": {
													"object": true
												},
												"tracking": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Mailchimp": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Mailchimp1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "c81277605b129fdafaacede5ae34e07c",
												"email_address": "nodeqa@n8n.io",
												"unique_email_id": "cb7624ba4b",
												"contact_id": "2f4ff7f445018adb50969f99df88dd9e",
												"full_name": "node qa",
												"web_id": 502612022,
												"email_type": "html",
												"status": "subscribed",
												"consents_to_one_to_one_messaging": true,
												"sms_phone_number": "",
												"sms_subscription_status": "",
												"sms_subscription_last_updated": "",
												"merge_fields": {
													"object": true
												},
												"interests": {
													"object": true
												},
												"stats": {
													"object": true
												},
												"ip_signup": "",
												"timestamp_signup": "",
												"ip_opt": "41.62.62.149",
												"timestamp_opt": "2021-02-19T10:59:04+00:00",
												"member_rating": 2,
												"last_changed": "2025-07-17T15:23:20+00:00",
												"language": "",
												"vip": false,
												"email_client": "",
												"location": {
													"object": true
												},
												"source": "Admin Add",
												"tags_count": 0,
												"tags": ["json array"],
												"list_id": "eb9ad4be19",
												"_links": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Mailchimp3": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Function"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "5e113df61c6266c12037cf1294960b91",
												"email_address": "test67177827@gmail.com",
												"unique_email_id": "35c00b4de3",
												"contact_id": "09ec42b4c631385d1560a01797f483f7",
												"full_name": "",
												"web_id": 606721660,
												"email_type": "html",
												"status": "subscribed",
												"consents_to_one_to_one_messaging": true,
												"sms_phone_number": "",
												"sms_subscription_status": "",
												"sms_subscription_last_updated": "",
												"merge_fields": {
													"object": true
												},
												"interests": {
													"object": true
												},
												"stats": {
													"object": true
												},
												"ip_signup": "",
												"timestamp_signup": "",
												"ip_opt": "194.125.63.145",
												"timestamp_opt": "2025-07-17T15:46:19+00:00",
												"member_rating": 2,
												"last_changed": "2025-07-17T15:46:19+00:00",
												"language": "",
												"vip": false,
												"email_client": "",
												"location": {
													"object": true
												},
												"source": "API - Generic",
												"tags_count": 0,
												"tags": ["json array"],
												"list_id": "eb9ad4be19",
												"_links": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Mailchimp9": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Mailchimp8"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "e117a6f053",
												"web_id": 4820246,
												"type": "plaintext",
												"create_time": "2021-02-19T12:32:03+00:00",
												"archive_url": "http://eepurl.com/hq3G0v",
												"long_archive_url": "https://us1.campaign-archive.com/?u=396affb9e515ed83edaecbba9&id=e117a6f053",
												"status": "sent",
												"emails_sent": 1,
												"send_time": "2021-02-19T12:33:21+00:00",
												"content_type": "template",
												"needs_block_refresh": false,
												"resendable": false,
												"recipients": {
													"object": true
												},
												"settings": {
													"object": true
												},
												"tracking": {
													"object": true
												},
												"report_summary": {
													"object": true
												},
												"delivery_status": {
													"object": true
												},
												"_links": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Mailchimp2": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "Mailchimp"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "c81277605b129fdafaacede5ae34e07c",
												"email_address": "nodeqa@n8n.io",
												"unique_email_id": "cb7624ba4b",
												"contact_id": "2f4ff7f445018adb50969f99df88dd9e",
												"full_name": "node qa",
												"web_id": 502612022,
												"email_type": "html",
												"status": "subscribed",
												"consents_to_one_to_one_messaging": true,
												"sms_phone_number": "",
												"sms_subscription_status": "",
												"sms_subscription_last_updated": "",
												"merge_fields": {
													"object": true
												},
												"interests": {
													"object": true
												},
												"stats": {
													"object": true
												},
												"ip_signup": "",
												"timestamp_signup": "",
												"ip_opt": "41.62.62.149",
												"timestamp_opt": "2021-02-19T10:59:04+00:00",
												"member_rating": 2,
												"last_changed": "2025-07-17T15:23:20+00:00",
												"language": "",
												"vip": false,
												"email_client": "",
												"location": {
													"object": true
												},
												"source": "Admin Add",
												"tags_count": 0,
												"tags": ["json array"],
												"list_id": "eb9ad4be19",
												"_links": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Mailchimp4": [
						{
							"executionIndex": 9,
							"source": [
								{
									"previousNode": "Mailchimp"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Mailchimp6": [
						{
							"executionIndex": 10,
							"source": [
								{
									"previousNode": "Mailchimp3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Mailchimp10": [
						{
							"executionIndex": 11,
							"source": [
								{
									"previousNode": "Mailchimp9"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "4fc7b4db05",
												"web_id": 11041917,
												"type": "plaintext",
												"create_time": "2025-07-17T15:46:21+00:00",
												"archive_url": "http://eepurl.com/jjqVCM",
												"long_archive_url": "https://us1.campaign-archive.com/?u=396affb9e515ed83edaecbba9&id=4fc7b4db05",
												"status": "save",
												"emails_sent": 0,
												"send_time": "",
												"content_type": "template",
												"needs_block_refresh": false,
												"resendable": false,
												"recipients": {
													"object": true
												},
												"settings": {
													"object": true
												},
												"tracking": {
													"object": true
												},
												"delivery_status": {
													"object": true
												},
												"_links": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Mailchimp5": [
						{
							"executionIndex": 12,
							"source": [
								{
									"previousNode": "Mailchimp4"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Mailchimp11": [
						{
							"executionIndex": 13,
							"source": [
								{
									"previousNode": "Mailchimp10"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Mailchimp11"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
