packages/testing/playwright/test-workflows/snapshots/114-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:30.411Z",
		"workflowId": "114"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "9613184349"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com1": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Monday.com"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "9613184349",
												"name": "Board1752767174851",
												"description": null,
												"state": "active",
												"board_folder_id": null,
												"board_kind": "private",
												"owners": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com2": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Monday.com1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "9613184349",
												"name": "Board1752767174851",
												"description": null,
												"state": "active",
												"board_folder_id": null,
												"board_kind": "private",
												"owners": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com4": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Monday.com2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "boolean_mksyxjav"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com6": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Monday.com4"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "group_mksyyg5g"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com9": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Monday.com6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "9613185122"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com10": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Monday.com9"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "4326925995"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com11": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "Monday.com10"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "9613185122"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com12": [
						{
							"executionIndex": 9,
							"source": [
								{
									"previousNode": "Monday.com11"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "9613185122",
												"name": "Item1752767179372",
												"created_at": "2025-07-17T15:46:20Z",
												"state": "active",
												"column_values": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com13": [
						{
							"executionIndex": 10,
							"source": [
								{
									"previousNode": "Monday.com12"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "9613185122",
												"name": "Item1752767179372",
												"created_at": "2025-07-17T15:46:20Z",
												"state": "active",
												"column_values": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com14": [
						{
							"executionIndex": 11,
							"source": [
								{
									"previousNode": "Monday.com13"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "9613184478",
												"name": "Task 1",
												"created_at": "2025-07-17T15:46:16Z",
												"state": "active",
												"board": {
													"object": true
												},
												"column_values": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com15": [
						{
							"executionIndex": 12,
							"source": [
								{
									"previousNode": "Monday.com14"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "9613185122"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com16": [
						{
							"executionIndex": 13,
							"source": [
								{
									"previousNode": "Monday.com15"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "9613185122"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com7": [
						{
							"executionIndex": 14,
							"source": [
								{
									"previousNode": "Monday.com16"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "group_mksyyg5g"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com8": [
						{
							"executionIndex": 15,
							"source": [
								{
									"previousNode": "Monday.com7"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "topics",
												"title": "Group Title",
												"color": "#037f4c",
												"position": "65536",
												"archived": false
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Monday.com5": [
						{
							"executionIndex": 16,
							"source": [
								{
									"previousNode": "Monday.com8"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "name",
												"title": "Name",
												"type": "name",
												"settings_str": "{}",
												"archived": false
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"id": "boolean_mksyxjav",
												"title": "Column1752767178022",
												"type": "checkbox",
												"settings_str": "{}",
												"archived": false
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Merge": [
						{
							"executionIndex": 17,
							"source": [
								{
									"previousNode": "Monday.com5"
								},
								{
									"previousNode": "Monday.com5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": [
												{
													"item": 0
												},
												{
													"item": 1
												}
											]
										}
									]
								]
							}
						}
					],
					"Monday.com3": [
						{
							"executionIndex": 18,
							"source": [
								{
									"previousNode": "Merge"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "9613184349"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Monday.com3"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
