packages/testing/playwright/test-workflows/snapshots/150-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:17.195Z",
		"workflowId": "150"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"PostHog": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"status": 1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"PostHog1": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"status": 1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"PostHog2": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"status": 1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"PostHog3": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"status": 1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"PostHog4": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "PostHog3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"status": 1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "PostHog4"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
