packages/testing/playwright/test-workflows/snapshots/152-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:17.865Z",
		"workflowId": "152"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"AWS Comprehend": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"en": 0.995190441608429
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"AWS Comprehend1": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"Sentiment": "POSITIVE",
												"SentimentScore": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"AWS Comprehend2": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"BeginOffset": 0,
												"EndOffset": 3,
												"Score": 0.4956623315811157,
												"Text": "n8n",
												"Type": "OTHER"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"BeginOffset": 18,
												"EndOffset": 23,
												"Score": 0.4929276704788208,
												"Text": "eight",
												"Type": "OTHER"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"BeginOffset": 53,
												"EndOffset": 62,
												"Score": 0.7383686304092407,
												"Text": "every app",
												"Type": "QUANTITY"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"BeginOffset": 147,
												"EndOffset": 158,
												"Score": 0.9422106146812439,
												"Text": "single line",
												"Type": "QUANTITY"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "AWS Comprehend2"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
