packages/testing/playwright/test-workflows/snapshots/16-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:19.025Z",
		"workflowId": "16"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"OpenWeatherMap": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"coord": {
													"object": true
												},
												"weather": ["json array"],
												"base": "stations",
												"main": {
													"object": true
												},
												"visibility": 6000,
												"wind": {
													"object": true
												},
												"clouds": {
													"object": true
												},
												"dt": 1752767023,
												"sys": {
													"object": true
												},
												"timezone": 7200,
												"id": 2950159,
												"name": "Berlin",
												"cod": 200
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"OpenWeatherMap1": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "OpenWeatherMap"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"cod": "200",
												"message": 0,
												"cnt": 40,
												"list": ["json array"],
												"city": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "OpenWeatherMap1"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
