packages/testing/playwright/test-workflows/snapshots/162-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:20.833Z",
		"workflowId": "162"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"AWS SQS1": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"MessageId": "1e556d2b-6a59-4857-9d52-08862485006a",
												"MD5OfMessageBody": "877599678bc2923a7da51fff7ae63bc7",
												"MD5OfMessageAttributes": "563c033205d4d7ddc71dceef55cae220",
												"SequenceNumber": "184916149135251804160"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"AWS SQS": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"MessageId": "ef3f5d2d-fc1b-40a2-ba07-55848602c515",
												"MD5OfMessageBody": "6f0f4a0659f2c051ff2d30e72dae478d",
												"MD5OfMessageAttributes": "563c033205d4d7ddc71dceef55cae220"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "AWS SQS"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
