packages/testing/playwright/test-workflows/snapshots/166-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:26.777Z",
		"workflowId": "166"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Intercom5": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"type": "contact",
												"id": "68791acc76ae8ababbf840a1",
												"user_id": "e6b03be2-6395-485c-8f4c-d39223e6f8be",
												"anonymous": true,
												"email": "fake1752767180133@email.com",
												"phone": null,
												"name": null,
												"pseudonym": "Grey Spaceship",
												"avatar": {
													"object": true
												},
												"app_id": "t5y9d4d1",
												"companies": {
													"object": true
												},
												"location_data": {
													"object": true
												},
												"last_request_at": null,
												"created_at": 1752767180,
												"remote_created_at": null,
												"signed_up_at": null,
												"updated_at": 1752767180,
												"session_count": 0,
												"social_profiles": {
													"object": true
												},
												"owner_id": null,
												"unsubscribed_from_emails": false,
												"marked_email_as_spam": false,
												"has_hard_bounced": false,
												"tags": {
													"object": true
												},
												"segments": {
													"object": true
												},
												"custom_attributes": {
													"object": true
												},
												"referrer": null,
												"utm_campaign": null,
												"utm_content": null,
												"utm_medium": null,
												"utm_source": null,
												"utm_term": null,
												"do_not_track": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Intercom10": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"type": "user",
												"id": "68791acd491e8f1838e003c2",
												"user_id": "User1752767180673",
												"anonymous": false,
												"email": "",
												"phone": null,
												"name": null,
												"pseudonym": null,
												"avatar": {
													"object": true
												},
												"app_id": "t5y9d4d1",
												"companies": {
													"object": true
												},
												"location_data": {
													"object": true
												},
												"last_request_at": null,
												"created_at": 1752767181,
												"remote_created_at": null,
												"signed_up_at": null,
												"updated_at": 1752767181,
												"session_count": 0,
												"social_profiles": {
													"object": true
												},
												"owner_id": null,
												"unsubscribed_from_emails": false,
												"marked_email_as_spam": false,
												"has_hard_bounced": false,
												"tags": {
													"object": true
												},
												"segments": {
													"object": true
												},
												"custom_attributes": {
													"object": true
												},
												"referrer": null,
												"utm_campaign": null,
												"utm_content": null,
												"utm_medium": null,
												"utm_source": null,
												"utm_term": null,
												"do_not_track": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Intercom1": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"type": "company",
												"company_id": "Company1752767181143",
												"id": "68791acd57ed918b3f51d446",
												"app_id": "t5y9d4d1",
												"name": "TestingCompany2025-07-17T15:46:21.144Z",
												"created_at": 1752767181,
												"updated_at": 1752767181,
												"monthly_spend": 0,
												"session_count": 0,
												"user_count": 0,
												"tags": {
													"object": true
												},
												"segments": {
													"object": true
												},
												"plan": {
													"object": true
												},
												"custom_attributes": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Intercom6": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Intercom5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"type": "contact",
												"id": "68791acc76ae8ababbf840a1",
												"user_id": "e6b03be2-6395-485c-8f4c-d39223e6f8be",
												"anonymous": true,
												"email": "fake1752767180133@email.com",
												"phone": null,
												"name": null,
												"pseudonym": "Grey Spaceship",
												"avatar": {
													"object": true
												},
												"app_id": "t5y9d4d1",
												"companies": {
													"object": true
												},
												"location_data": {
													"object": true
												},
												"last_request_at": null,
												"created_at": 1752767180,
												"remote_created_at": null,
												"signed_up_at": null,
												"updated_at": 1752767180,
												"session_count": 0,
												"social_profiles": {
													"object": true
												},
												"owner_id": null,
												"unsubscribed_from_emails": false,
												"marked_email_as_spam": false,
												"has_hard_bounced": false,
												"tags": {
													"object": true
												},
												"segments": {
													"object": true
												},
												"custom_attributes": {
													"object": true
												},
												"referrer": null,
												"utm_campaign": null,
												"utm_content": null,
												"utm_medium": null,
												"utm_source": null,
												"utm_term": null,
												"do_not_track": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Intercom11": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Intercom10"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"type": "user",
												"id": "68791acd491e8f1838e003c2",
												"user_id": "User1752767180673",
												"anonymous": false,
												"email": "",
												"phone": null,
												"name": null,
												"pseudonym": null,
												"avatar": {
													"object": true
												},
												"app_id": "t5y9d4d1",
												"companies": {
													"object": true
												},
												"location_data": {
													"object": true
												},
												"last_request_at": null,
												"created_at": 1752767181,
												"remote_created_at": null,
												"signed_up_at": null,
												"updated_at": 1752767181,
												"session_count": 0,
												"social_profiles": {
													"object": true
												},
												"owner_id": null,
												"unsubscribed_from_emails": false,
												"marked_email_as_spam": false,
												"has_hard_bounced": false,
												"tags": {
													"object": true
												},
												"segments": {
													"object": true
												},
												"custom_attributes": {
													"object": true
												},
												"referrer": null,
												"utm_campaign": null,
												"utm_content": null,
												"utm_medium": null,
												"utm_source": null,
												"utm_term": null,
												"do_not_track": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Intercom": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Intercom1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"type": "company",
												"company_id": "Company1752767181143",
												"id": "68791acd57ed918b3f51d446",
												"app_id": "t5y9d4d1",
												"name": "TestingCompany2025-07-17T15:46:21.144Z",
												"created_at": 1752767181,
												"updated_at": 1752767181,
												"monthly_spend": 0,
												"session_count": 0,
												"user_count": 0,
												"tags": {
													"object": true
												},
												"segments": {
													"object": true
												},
												"plan": {
													"object": true
												},
												"custom_attributes": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Intercom7": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Intercom6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"type": "contact",
												"id": "682640e516500e28bbeaed11",
												"user_id": "3691afca-c0a7-46c7-9cbf-4f5ac3e1da9a",
												"anonymous": true,
												"email": "fake1747337445292@email.com",
												"phone": null,
												"name": null,
												"pseudonym": "Turquoise Cactus",
												"avatar": {
													"object": true
												},
												"app_id": "t5y9d4d1",
												"companies": {
													"object": true
												},
												"location_data": {
													"object": true
												},
												"last_request_at": null,
												"created_at": 1747337445,
												"remote_created_at": null,
												"signed_up_at": null,
												"updated_at": 1747337445,
												"session_count": 0,
												"social_profiles": {
													"object": true
												},
												"owner_id": null,
												"unsubscribed_from_emails": false,
												"marked_email_as_spam": false,
												"has_hard_bounced": false,
												"tags": {
													"object": true
												},
												"segments": {
													"object": true
												},
												"custom_attributes": {
													"object": true
												},
												"referrer": null,
												"utm_campaign": null,
												"utm_content": null,
												"utm_medium": null,
												"utm_source": null,
												"utm_term": null,
												"do_not_track": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Intercom12": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "Intercom11"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"type": "user",
												"id": "682640e6d3d8a6ae674aea64",
												"user_id": "User1747337445888",
												"anonymous": false,
												"email": null,
												"phone": null,
												"name": null,
												"pseudonym": null,
												"avatar": {
													"object": true
												},
												"app_id": "t5y9d4d1",
												"companies": {
													"object": true
												},
												"location_data": {
													"object": true
												},
												"last_request_at": null,
												"created_at": 1747337446,
												"remote_created_at": null,
												"signed_up_at": null,
												"updated_at": 1747337446,
												"session_count": 0,
												"social_profiles": {
													"object": true
												},
												"owner_id": null,
												"unsubscribed_from_emails": false,
												"marked_email_as_spam": false,
												"has_hard_bounced": false,
												"tags": {
													"object": true
												},
												"segments": {
													"object": true
												},
												"custom_attributes": {
													"object": true
												},
												"referrer": null,
												"utm_campaign": null,
												"utm_content": null,
												"utm_medium": null,
												"utm_source": null,
												"utm_term": null,
												"do_not_track": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Intercom2": [
						{
							"executionIndex": 9,
							"source": [
								{
									"previousNode": "Intercom"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"type": "company",
												"company_id": "607ea26e5e1f73dc32c434bd-qualification-company",
												"id": "607ea26e5e1f73dc32c434bc",
												"app_id": "t5y9d4d1",
												"name": "Acme",
												"created_at": 1618911854,
												"updated_at": 1618911854,
												"monthly_spend": 0,
												"session_count": 0,
												"user_count": 1,
												"tags": {
													"object": true
												},
												"segments": {
													"object": true
												},
												"plan": {
													"object": true
												},
												"custom_attributes": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Intercom8": [
						{
							"executionIndex": 10,
							"source": [
								{
									"previousNode": "Intercom7"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"type": "contact",
												"id": "68791acc76ae8ababbf840a1",
												"user_id": "e6b03be2-6395-485c-8f4c-d39223e6f8be",
												"anonymous": true,
												"email": "fake1752767180133@email.com",
												"phone": null,
												"name": "UpdatedLead",
												"pseudonym": "Grey Spaceship",
												"avatar": {
													"object": true
												},
												"app_id": "t5y9d4d1",
												"companies": {
													"object": true
												},
												"location_data": {
													"object": true
												},
												"last_request_at": null,
												"created_at": 1752767180,
												"remote_created_at": null,
												"signed_up_at": null,
												"updated_at": 1752767184,
												"session_count": 0,
												"social_profiles": {
													"object": true
												},
												"owner_id": null,
												"unsubscribed_from_emails": false,
												"marked_email_as_spam": false,
												"has_hard_bounced": false,
												"tags": {
													"object": true
												},
												"segments": {
													"object": true
												},
												"custom_attributes": {
													"object": true
												},
												"referrer": null,
												"utm_campaign": null,
												"utm_content": null,
												"utm_medium": null,
												"utm_source": null,
												"utm_term": null,
												"do_not_track": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Intercom13": [
						{
							"executionIndex": 11,
							"source": [
								{
									"previousNode": "Intercom12"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"type": "user",
												"id": "68791acd491e8f1838e003c2",
												"user_id": "User1752767180673",
												"anonymous": false,
												"email": "",
												"phone": null,
												"name": "UpdatedUser",
												"pseudonym": null,
												"avatar": {
													"object": true
												},
												"app_id": "t5y9d4d1",
												"companies": {
													"object": true
												},
												"location_data": {
													"object": true
												},
												"last_request_at": null,
												"created_at": 1752767181,
												"remote_created_at": null,
												"signed_up_at": null,
												"updated_at": 1752767184,
												"session_count": 0,
												"social_profiles": {
													"object": true
												},
												"owner_id": null,
												"unsubscribed_from_emails": false,
												"marked_email_as_spam": false,
												"has_hard_bounced": false,
												"tags": {
													"object": true
												},
												"segments": {
													"object": true
												},
												"custom_attributes": {
													"object": true
												},
												"referrer": null,
												"utm_campaign": null,
												"utm_content": null,
												"utm_medium": null,
												"utm_source": null,
												"utm_term": null,
												"do_not_track": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Intercom3": [
						{
							"executionIndex": 12,
							"source": [
								{
									"previousNode": "Intercom2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"type": "company",
												"company_id": "Company1752767181143",
												"id": "68791acd57ed918b3f51d446",
												"app_id": "t5y9d4d1",
												"name": "UpdatedTestingCompany2025-07-17T15:46:21.144Z",
												"created_at": 1752767181,
												"updated_at": 1752767185,
												"monthly_spend": 0,
												"session_count": 0,
												"user_count": 0,
												"tags": {
													"object": true
												},
												"segments": {
													"object": true
												},
												"plan": {
													"object": true
												},
												"custom_attributes": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Intercom9": [
						{
							"executionIndex": 13,
							"source": [
								{
									"previousNode": "Intercom8"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"type": "contact",
												"id": "68791acc76ae8ababbf840a1",
												"user_id": "e6b03be2-6395-485c-8f4c-d39223e6f8be",
												"anonymous": true,
												"email": "fake1752767180133@email.com",
												"phone": null,
												"name": "UpdatedLead",
												"pseudonym": "Grey Spaceship",
												"avatar": {
													"object": true
												},
												"app_id": "t5y9d4d1",
												"companies": {
													"object": true
												},
												"location_data": {
													"object": true
												},
												"last_request_at": null,
												"created_at": 1752767180,
												"remote_created_at": null,
												"signed_up_at": null,
												"updated_at": 1752767185,
												"session_count": 0,
												"social_profiles": {
													"object": true
												},
												"owner_id": null,
												"unsubscribed_from_emails": false,
												"marked_email_as_spam": false,
												"has_hard_bounced": false,
												"tags": {
													"object": true
												},
												"segments": {
													"object": true
												},
												"custom_attributes": {
													"object": true
												},
												"referrer": null,
												"utm_campaign": null,
												"utm_content": null,
												"utm_medium": null,
												"utm_source": null,
												"utm_term": null,
												"do_not_track": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Intercom14": [
						{
							"executionIndex": 14,
							"source": [
								{
									"previousNode": "Intercom13"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"type": "user",
												"id": "68791acd491e8f1838e003c2",
												"user_id": "User1752767180673",
												"anonymous": false,
												"email": "",
												"phone": null,
												"name": "UpdatedUser",
												"pseudonym": null,
												"avatar": {
													"object": true
												},
												"app_id": "t5y9d4d1",
												"companies": {
													"object": true
												},
												"location_data": {
													"object": true
												},
												"last_request_at": null,
												"created_at": 1752767181,
												"remote_created_at": null,
												"signed_up_at": null,
												"updated_at": 1752767186,
												"session_count": 0,
												"social_profiles": {
													"object": true
												},
												"owner_id": null,
												"unsubscribed_from_emails": false,
												"marked_email_as_spam": false,
												"has_hard_bounced": false,
												"tags": {
													"object": true
												},
												"segments": {
													"object": true
												},
												"custom_attributes": {
													"object": true
												},
												"referrer": null,
												"utm_campaign": null,
												"utm_content": null,
												"utm_medium": null,
												"utm_source": null,
												"utm_term": null,
												"do_not_track": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Intercom4": [
						{
							"executionIndex": 15,
							"source": [
								{
									"previousNode": "Intercom3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [[]]
							}
						}
					]
				},
				"lastNodeExecuted": "Intercom4"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
