packages/testing/playwright/test-workflows/snapshots/17-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:20.620Z",
		"workflowId": "17"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"OpenThesaurus": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 3913,
												"categories": ["json array"],
												"terms": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"id": 11705,
												"categories": ["json array"],
												"terms": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"id": 8559,
												"categories": ["json array"],
												"terms": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"id": 15485,
												"categories": ["json array"],
												"terms": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "OpenThesaurus"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
