packages/testing/playwright/test-workflows/snapshots/172-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:23.117Z",
		"workflowId": "172"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"PayPal": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"batch_header": {
													"object": true
												},
												"links": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"PayPal1": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "PayPal"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"payout_item_id": "KW8878HMHUX5E",
												"transaction_status": "PENDING",
												"payout_batch_id": "E5C7R2Q8V9AE2",
												"payout_item": {
													"object": true
												},
												"links": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"PayPal2": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "PayPal1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"payout_item_id": "KW8878HMHUX5E",
												"transaction_status": "PENDING",
												"payout_batch_id": "E5C7R2Q8V9AE2",
												"sender_batch_id": "1752767180380",
												"payout_item": {
													"object": true
												},
												"links": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"PayPal3": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "PayPal2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"payout_item_id": "KW8878HMHUX5E",
												"transaction_status": "PENDING",
												"payout_batch_id": "E5C7R2Q8V9AE2",
												"sender_batch_id": "1752767180380",
												"payout_item": {
													"object": true
												},
												"links": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "PayPal3"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
