packages/testing/playwright/test-workflows/snapshots/182-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:24.024Z",
		"workflowId": "182"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Webflow": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"_cid": "608289f18593d40792d70d54",
												"_id": "68791acedcf129b0a178ff5c",
												"_draft": true,
												"_archived": false,
												"name": "Item1752767181819",
												"slug": "ItemSlug1752767181822",
												"updated-on": "2025-07-17T15:46:22.228Z",
												"updated-by": "Person_60828826c12bb73d4752eedb",
												"created-on": "2025-07-17T15:46:22.228Z",
												"created-by": "Person_60828826c12bb73d4752eedb",
												"published-on": null,
												"published-by": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Webflow1": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Webflow"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"_cid": "608289f18593d40792d70d54",
												"_id": "68791acedcf129b0a178ff5c",
												"_draft": true,
												"_archived": false,
												"name": "Item1752767181819",
												"slug": "ItemSlug1752767181822",
												"updated-on": "2025-07-17T15:46:22.228Z",
												"updated-by": "Person_60828826c12bb73d4752eedb",
												"created-on": "2025-07-17T15:46:22.228Z",
												"created-by": "Person_60828826c12bb73d4752eedb",
												"published-on": null,
												"published-by": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Webflow2": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Webflow1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"_cid": "608289f18593d40792d70d54",
												"_id": "68791acedcf129b0a178ff5c",
												"_draft": false,
												"_archived": false,
												"name": "UpdatedItem1752767181819",
												"slug": "UpdatedItemSlug1752767181822",
												"updated-on": "2025-07-17T15:46:23.090Z",
												"updated-by": "Person_60828826c12bb73d4752eedb",
												"created-on": "2025-07-17T15:46:22.228Z",
												"created-by": "Person_60828826c12bb73d4752eedb",
												"published-on": null,
												"published-by": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Webflow3": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Webflow2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"deleted": 1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Webflow4": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Webflow3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"_cid": "608289f18593d40792d70d54",
												"_id": "6879162a25afedac32551771",
												"_draft": true,
												"_archived": false,
												"name": "Item1752765994239",
												"slug": "ItemSlug1752765994241",
												"updated-on": "2025-07-17T15:26:34.710Z",
												"updated-by": "Person_60828826c12bb73d4752eedb",
												"created-on": "2025-07-17T15:26:34.710Z",
												"created-by": "Person_60828826c12bb73d4752eedb",
												"published-on": null,
												"published-by": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Webflow4"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
