packages/testing/playwright/test-workflows/snapshots/195-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:27.153Z",
		"workflowId": "195"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Kitemaker1": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "0f42cd20b0617400",
												"name": "n8n-qa",
												"labels": ["json array"],
												"statuses": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Kitemaker": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "0f42cd2088617400",
												"name": "n8n-qa"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Kitemaker2": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "0f42ccbcb93d4000",
												"username": "node8qa"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Kitemaker3": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "2e2abfdd2e499800",
												"number": "2643",
												"title": "WorkItem1752767184982",
												"description": "",
												"status": {
													"object": true
												},
												"members": ["json array"],
												"watchers": ["json array"],
												"labels": ["json array"],
												"effort": null,
												"impact": null,
												"updatedAt": 1752767185686,
												"createdAt": 1752767185686
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Kitemaker4": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Kitemaker3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "2e2abfdd2e499800",
												"number": "2643",
												"title": "WorkItem1752767184982",
												"description": "",
												"status": {
													"object": true
												},
												"sort": "s",
												"members": ["json array"],
												"watchers": ["json array"],
												"labels": ["json array"],
												"comments": ["json array"],
												"effort": null,
												"impact": null,
												"updatedAt": 1752767185686,
												"createdAt": 1752767185686
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Kitemaker5": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Kitemaker4"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "0f42cd2103617400",
												"title": "Use arrow keys to navigate work items",
												"description": "# Things to explore\n\n- [ ] Press the little + sign to the top right to see different types of meta data you can add to work items\n- [ ] Learn some markdown\n  - [ ] `#` On an empty line creates a headline (type ## and ### for sub headlines)\n  - [ ] Type `**` or `__` before and after a section of text to make it **bold**\n  - [ ] Type `*` or `_` before and after a section of text to make it _italic_\n  - [ ] Type `´`  before and after a section of text to make it `a code block`\n  - [ ] Type `*` followed by space on an empty line to make bullet points\n  - [ ] Type `[]` followed by space on an empty line to make todo-lists\n  - [ ] Type `1.` followed by space on an empty line to make numbered lists\n  - [ ] Type `$$` before and after Tex expression $$\\frac{1}{100}$$\n- [ ] Check out our integrations\n- [ ] Make comments (they support everything the description field supports)\n- [ ] Invite your team\n- [ ] Learn hotkeys:\n  - [ ] Hovering elements gives you hotkey tips. Hover this sections to see that `D` lets you edit the description\n  - [ ] Other times the hotkey hints are in the UI. If you look at the right section of this screen, `R` adds a new comment\n  - [ ] Pressing `?` gives you a searchable list of all hotkeys\n  - [ ] In the Kitemaker command (open it by pressing `CTRL/CMD+k`) you will also be able to see the hotkeys for the commands\n  - [ ] When you have long descriptions use `SPACE` and `SHIFT+SPACE` to scroll up and down\n\n",
												"labels": ["json array"],
												"comments": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Kitemaker6": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Kitemaker5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "2e2abfdd2e499800",
												"number": "2643",
												"title": "UpdatedWorkItem1752767184982",
												"description": "",
												"status": {
													"object": true
												},
												"members": ["json array"],
												"watchers": ["json array"],
												"labels": ["json array"],
												"effort": null,
												"impact": null,
												"updatedAt": 1752767186982,
												"createdAt": 1752767185686
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Kitemaker6"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
