packages/testing/playwright/test-workflows/snapshots/203-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:27.704Z",
		"workflowId": "203"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Paddle": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 11452,
												"name": "n8n test subscription",
												"billing_type": "month",
												"billing_period": 3,
												"initial_price": {
													"object": true
												},
												"recurring_price": {
													"object": true
												},
												"trial_days": 14
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Paddle2": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 11451,
												"name": "n8n test for Omar",
												"description": "a great n8n test product",
												"base_price": null,
												"sale_price": null,
												"currency": "USD",
												"screenshots": ["json array"],
												"icon": "https://sandbox-static.paddle.com/assets/images/checkout/default_product_icon.png"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Paddle3": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"subscription_id": 101066,
												"plan_id": 11452,
												"user_id": 3076,
												"user_email": "name@example.com",
												"marketing_consent": false,
												"update_url": "https://sandbox-subscription-management.paddle.com/subscription/101066/hash/250b0346bbd6fb46bebbd6f9c989ffb7333d628b082fe54658658bacf5311bf3/update",
												"cancel_url": "https://sandbox-subscription-management.paddle.com/subscription/101066/hash/250b0346bbd6fb46bebbd6f9c989ffb7333d628b082fe54658658bacf5311bf3/cancel",
												"state": "paused",
												"signup_date": "2021-05-14 08:52:59",
												"last_payment": {
													"object": true
												},
												"linked_subscriptions": ["json array"],
												"custom_data": null,
												"payment_information": {
													"object": true
												},
												"paused_at": "2022-04-08 00:02:35",
												"paused_from": "2022-03-24 00:00:00",
												"paused_reason": "delinquent"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Paddle4": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [[]]
							}
						}
					],
					"Paddle1": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Paddle"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 11452,
												"name": "n8n test subscription",
												"billing_type": "month",
												"billing_period": 3,
												"initial_price": {
													"object": true
												},
												"recurring_price": {
													"object": true
												},
												"trial_days": 14
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Paddle5": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Paddle2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"coupon": "EB6170D6"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Paddle6": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Paddle5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"updated": 1
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Paddle7": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "Paddle6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"coupon": "722F58E2",
												"description": null,
												"discount_type": "flat",
												"discount_amount": "5.000000000",
												"discount_currency": "USD",
												"allowed_uses": 999999,
												"times_used": 0,
												"is_recurring": false,
												"expires": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Paddle7"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
