packages/testing/playwright/test-workflows/snapshots/209-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:58.594Z",
		"workflowId": "209"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set job name": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"job_name": "nodemation_job_1752767186960"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"AWS Transcribe": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Set job name"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"CreationTime": 1752767187.367,
												"LanguageCode": "en-US",
												"Media": {
													"object": true
												},
												"Settings": {
													"object": true
												},
												"StartTime": 1752767187.384,
												"TranscriptionJobName": "nodemation_job_1752767186960",
												"TranscriptionJobStatus": "IN_PROGRESS"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"AWS Transcribe1": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "AWS Transcribe"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"CreationTime": 1752767187.367,
												"LanguageCode": "en-US",
												"Media": {
													"object": true
												},
												"Settings": {
													"object": true
												},
												"StartTime": 1752767187.384,
												"Transcript": {
													"object": true
												},
												"TranscriptionJobName": "nodemation_job_1752767186960",
												"TranscriptionJobStatus": "IN_PROGRESS"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"AWS Transcribe2": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "AWS Transcribe1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"CreationTime": 1752767187.367,
												"LanguageCode": "en-US",
												"OutputLocationType": "SERVICE_BUCKET",
												"StartTime": 1752767187.384,
												"TranscriptionJobName": "nodemation_job_1752767186960",
												"TranscriptionJobStatus": "IN_PROGRESS"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Sleep 30 seconds": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "AWS Transcribe2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"CreationTime": 1752767187.367,
												"LanguageCode": "en-US",
												"OutputLocationType": "SERVICE_BUCKET",
												"StartTime": 1752767187.384,
												"TranscriptionJobName": "nodemation_job_1752767186960",
												"TranscriptionJobStatus": "IN_PROGRESS"
											},
											"pairedItem": {
												"item": 0
											},
											"index": 0
										}
									]
								]
							}
						}
					],
					"AWS Transcribe3": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Sleep 30 seconds"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "AWS Transcribe3"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
