packages/testing/playwright/test-workflows/snapshots/212-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:28.384Z",
		"workflowId": "212"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Delete existing dir": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"exitCode": 0,
												"stderr": "",
												"stdout": ""
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Git": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Delete existing dir"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Git1": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Git"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"_file": "/Library/Developer/CommandLineTools/usr/share/git-core/gitconfig"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Git2": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Git1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 1
											}
										}
									]
								]
							}
						}
					],
					"Git7": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Git2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 1
											}
										}
									]
								]
							}
						}
					],
					"Add file to dir": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Git7"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"exitCode": 0,
												"stderr": "",
												"stdout": ""
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Git3": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Add file to dir"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Git4": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "Git3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"not_added": ["json array"],
												"conflicted": ["json array"],
												"created": ["json array"],
												"deleted": ["json array"],
												"modified": ["json array"],
												"renamed": ["json array"],
												"files": ["json array"],
												"staged": ["json array"],
												"ahead": 0,
												"behind": 0,
												"current": "main",
												"tracking": "origin/main",
												"detached": false
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Git5": [
						{
							"executionIndex": 9,
							"source": [
								{
									"previousNode": "Git4"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Git6": [
						{
							"executionIndex": 10,
							"source": [
								{
									"previousNode": "Git5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"hash": "afb4964ec0dabd1833d93b5617d615c81dd9f83b",
												"date": "2025-07-17T16:46:27+01:00",
												"message": "GitNode commit Thu, 17 Jul 2025 15:46:27 GMT",
												"refs": "HEAD -> main",
												"body": "",
												"author_name": "nodemationqa",
												"author_email": "nodeqa@n8n.io"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Git8": [
						{
							"executionIndex": 11,
							"source": [
								{
									"previousNode": "Git6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Git9": [
						{
							"executionIndex": 12,
							"source": [
								{
									"previousNode": "Git8"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Git10": [
						{
							"executionIndex": 13,
							"source": [
								{
									"previousNode": "Git9"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Git11": [
						{
							"executionIndex": 14,
							"source": [
								{
									"previousNode": "Git10"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Git12": [
						{
							"executionIndex": 15,
							"source": [
								{
									"previousNode": "Git11"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Git13": [
						{
							"executionIndex": 16,
							"source": [
								{
									"previousNode": "Git12"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Git13"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
