packages/testing/playwright/test-workflows/snapshots/229-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:46.316Z",
		"workflowId": "229"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive11": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "1ByJmNP-ZgT2l0qjg3QpdKy0YCdEIcxEd",
												"name": "testFolder"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive14": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"kind": "drive#file",
												"id": "1wC6gIthUhlhkeleZKOXe6X9JkxL-SuTZ",
												"name": "testFile",
												"mimeType": "text/plain"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive3": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"kind": "drive#file",
												"id": "1VijYcnEPr7MZpVmdlnNEiSD6G0ZMvsIY",
												"name": "testFile",
												"mimeType": "text/plain"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "1Rg1O_bOc0oc4p1Sil7N0Vze470uMolMc",
												"name": "testFolder"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive12": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Google Drive11"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"kind": "drive#permission",
												"id": "anyoneWithLink",
												"type": "anyone",
												"role": "reader",
												"allowFileDiscovery": false
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive15": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Google Drive14"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"kind": "drive#permission",
												"id": "anyoneWithLink",
												"type": "anyone",
												"role": "reader",
												"allowFileDiscovery": false
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive4": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Google Drive3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"kind": "drive#permission",
												"id": "anyoneWithLink",
												"type": "anyone",
												"role": "reader",
												"allowFileDiscovery": false
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive1": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "Google Drive"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"kind": "drive#permission",
												"id": "anyoneWithLink",
												"type": "anyone",
												"role": "reader",
												"allowFileDiscovery": false
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive13": [
						{
							"executionIndex": 9,
							"source": [
								{
									"previousNode": "Google Drive12"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"fileId": "1ByJmNP-ZgT2l0qjg3QpdKy0YCdEIcxEd",
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive16": [
						{
							"executionIndex": 10,
							"source": [
								{
									"previousNode": "Google Drive15"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "1YNeDnFJOaq3mDazf8Ezm3V3K-aIKdmugke2m89Qf3dg",
												"name": "oupa"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive5": [
						{
							"executionIndex": 11,
							"source": [
								{
									"previousNode": "Google Drive4"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "1YNeDnFJOaq3mDazf8Ezm3V3K-aIKdmugke2m89Qf3dg",
												"name": "oupa"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive2": [
						{
							"executionIndex": 12,
							"source": [
								{
									"previousNode": "Google Drive1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"fileId": "1Rg1O_bOc0oc4p1Sil7N0Vze470uMolMc",
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive17": [
						{
							"executionIndex": 13,
							"source": [
								{
									"previousNode": "Google Drive16"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "1YNeDnFJOaq3mDazf8Ezm3V3K-aIKdmugke2m89Qf3dg",
												"name": "oupa"
											},
											"binary": {
												"data": {
													"mimeType": "text/plain",
													"fileType": "text",
													"fileExtension": "txt",
													"data": "VGVzdCBGaWxlIENvbnRlbnQ=",
													"fileName": "testFile",
													"fileSize": "17 B"
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive6": [
						{
							"executionIndex": 14,
							"source": [
								{
									"previousNode": "Google Drive5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "1YNeDnFJOaq3mDazf8Ezm3V3K-aIKdmugke2m89Qf3dg",
												"name": "oupa"
											},
											"binary": {
												"data": {
													"mimeType": "text/plain",
													"fileType": "text",
													"fileExtension": "txt",
													"data": "VGVzdCBGaWxlIENvbnRlbnQ=",
													"fileName": "testFile",
													"fileSize": "17 B"
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive18": [
						{
							"executionIndex": 15,
							"source": [
								{
									"previousNode": "Google Drive17"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"kind": "drive#file",
												"id": "1jjZhDXlvl5DcKuBCV5PwyCBuOqUBlCsE",
												"name": "testFile",
												"mimeType": "text/plain"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive7": [
						{
							"executionIndex": 16,
							"source": [
								{
									"previousNode": "Google Drive6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"kind": "drive#file",
												"id": "129Pr3v3BZcZ_uRmCHTxLP0PTk_UjT6K3",
												"name": "testFile",
												"mimeType": "text/plain"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive19": [
						{
							"executionIndex": 17,
							"source": [
								{
									"previousNode": "Google Drive18"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"fileId": "1wC6gIthUhlhkeleZKOXe6X9JkxL-SuTZ",
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive8": [
						{
							"executionIndex": 18,
							"source": [
								{
									"previousNode": "Google Drive7"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"fileId": "1VijYcnEPr7MZpVmdlnNEiSD6G0ZMvsIY",
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive10": [
						{
							"executionIndex": 19,
							"source": [
								{
									"previousNode": "Google Drive19"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"fileId": "1jjZhDXlvl5DcKuBCV5PwyCBuOqUBlCsE",
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive9": [
						{
							"executionIndex": 20,
							"source": [
								{
									"previousNode": "Google Drive8"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"fileId": "129Pr3v3BZcZ_uRmCHTxLP0PTk_UjT6K3",
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Google Drive9"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
