packages/testing/playwright/test-workflows/snapshots/230-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:29.149Z",
		"workflowId": "230"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"When clicking \"Execute Workflow\"": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"VirusTotal HTTP Request": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "When clicking \"Execute Workflow\""
								}
							],
							"hints": [
								{
									"message": "To split the contents of ‘data’ into separate items for easier processing, add a ‘Split Out’ node after this one",
									"location": "outputPane"
								}
							],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"data": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "VirusTotal HTTP Request"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
