packages/testing/playwright/test-workflows/snapshots/234-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:29.737Z",
		"workflowId": "234"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"When clicking \"Test workflow\"": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Mistral Cloud Chat Model": [
						{
							"executionIndex": 2,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "Mistral Cloud Chat",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_languageModel": [
									[
										{
											"json": {
												"response": {
													"object": true
												},
												"tokenUsage": {
													"object": true
												}
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_languageModel": [
									[
										{
											"json": {
												"messages": [
													"Human: How much is 1+1? Only provide the numerical answer without any other text.\n"
												],
												"estimatedTokens": 20,
												"options": {
													"mistral_api_key": {
														"lc": 1,
														"type": "secret",
														"id": ["MISTRAL_API_KEY"]
													},
													"model": "mistral-tiny",
													"temperature": 0
												}
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "Mistral Cloud Chat Model",
										"runIndex": 0
									}
								]
							}
						}
					],
					"Mistral Cloud Chat": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "When clicking \"Test workflow\""
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"text": "2"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Mistral Cloud Chat"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {
					"Mistral Cloud Chat Model": [
						{
							"subRun": [
								{
									"node": "Mistral Cloud Chat Model",
									"runIndex": 0
								}
							]
						}
					]
				},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
