packages/testing/playwright/test-workflows/snapshots/245-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:39.403Z",
		"workflowId": "245"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"When clicking \"Test workflow\"": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"AWS Bedrock Chat Model": [
						{
							"executionIndex": 2,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "AWS Bedrock Chat",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_languageModel": [
									[
										{
											"json": {
												"response": {
													"object": true
												},
												"tokenUsageEstimate": {
													"object": true
												}
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_languageModel": [
									[
										{
											"json": {
												"messages": [
													"Human: How much is 1+1? Only provide the numerical answer without any other text.\n"
												],
												"estimatedTokens": 20,
												"options": {
													"lc": 1,
													"type": "not_implemented",
													"id": [
														"langchain",
														"chat_models",
														"chat_bedrock_converse",
														"ChatBedrockConverse"
													]
												}
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "AWS Bedrock Chat Model",
										"runIndex": 0
									}
								]
							}
						}
					],
					"AWS Bedrock Chat": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "When clicking \"Test workflow\""
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"text": "The answer to the equation 1+1 is 2."
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "AWS Bedrock Chat"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {
					"AWS Bedrock Chat Model": [
						{
							"subRun": [
								{
									"node": "AWS Bedrock Chat Model",
									"runIndex": 0
								}
							]
						}
					]
				},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
