packages/testing/playwright/test-workflows/snapshots/246-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:40.210Z",
		"workflowId": "246"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"When clicking \"Test workflow\"": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"OpenAI Chat Model": [
						{
							"executionIndex": 2,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "Open AI Chat",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_languageModel": [
									[
										{
											"json": {
												"response": {
													"object": true
												},
												"tokenUsage": {
													"object": true
												}
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_languageModel": [
									[
										{
											"json": {
												"messages": [
													"Human: How much is 1+1? Only provide the numerical answer without any other text.\n"
												],
												"estimatedTokens": 20,
												"options": {
													"openai_api_key": {
														"lc": 1,
														"type": "secret",
														"id": ["OPENAI_API_KEY"]
													},
													"model": "gpt-3.5-turbo-0125",
													"temperature": 0,
													"timeout": 60000,
													"max_retries": 2,
													"configuration": {
														"baseURL": "https://api.openai.com/v1",
														"fetchOptions": {}
													},
													"model_kwargs": {}
												}
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "OpenAI Chat Model",
										"runIndex": 0
									}
								]
							}
						}
					],
					"Open AI Chat": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "When clicking \"Test workflow\""
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"text": "2"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Open AI Chat"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {
					"OpenAI Chat Model": [
						{
							"subRun": [
								{
									"node": "OpenAI Chat Model",
									"runIndex": 0
								}
							]
						}
					]
				},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
