packages/testing/playwright/test-workflows/snapshots/255-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:49.775Z",
		"workflowId": "255"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"When clicking ‘Test workflow’": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"OpenAI Chat Model": [
						{
							"executionIndex": 2,
							"executionStatus": "error",
							"source": [
								{
									"previousNode": "Basic LLM Chain",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_languageModel": [
									[
										{
											"json": {
												"messages": ["json array"],
												"estimatedTokens": 3,
												"options": {
													"object": true
												}
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_languageModel": [
									[
										{
											"json": {
												"messages": ["Human: Hey"],
												"estimatedTokens": 3,
												"options": {
													"openai_api_key": {
														"lc": 1,
														"type": "secret",
														"id": ["OPENAI_API_KEY"]
													},
													"model": "gpt-4o-mini123",
													"timeout": 60000,
													"max_retries": 2,
													"configuration": {
														"baseURL": "https://api.openai.com/v1",
														"fetchOptions": {}
													},
													"model_kwargs": {}
												}
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "OpenAI Chat Model",
										"runIndex": 0
									}
								]
							},
							"error": {
								"message": "The resource you are requesting could not be found",
								"timestamp": 1752767209653,
								"name": "NodeApiError",
								"description": "The model `gpt-4o-mini123` does not exist or you do not have access to it.",
								"context": {}
							}
						}
					],
					"Basic LLM Chain": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "When clicking ‘Test workflow’"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[],
									[
										{
											"json": {
												"error": "The resource you are requesting could not be found"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Basic LLM Chain"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {
					"OpenAI Chat Model": [
						{
							"subRun": [
								{
									"node": "OpenAI Chat Model",
									"runIndex": 0
								}
							]
						}
					]
				},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
