packages/testing/playwright/test-workflows/snapshots/256-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:56.024Z",
		"workflowId": "256"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"When clicking ‘Test workflow’": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"OpenAI Chat Model": [
						{
							"executionIndex": 2,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "AI Agent",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_languageModel": [
									[
										{
											"json": {
												"response": {
													"object": true
												},
												"tokenUsage": {
													"object": true
												}
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_languageModel": [
									[
										{
											"json": {
												"messages": [
													"System: You are a helpful assistant\nHuman: What happened yesterday?"
												],
												"estimatedTokens": 14,
												"options": {
													"openai_api_key": {
														"lc": 1,
														"type": "secret",
														"id": ["OPENAI_API_KEY"]
													},
													"model": "gpt-4o-mini",
													"timeout": 60000,
													"max_retries": 2,
													"configuration": {
														"baseURL": "https://api.openai.com/v1",
														"fetchOptions": {}
													},
													"model_kwargs": {}
												}
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "OpenAI Chat Model",
										"runIndex": 0
									}
								]
							}
						},
						{
							"executionIndex": 7,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "AI Agent",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_languageModel": [
									[
										{
											"json": {
												"response": {
													"object": true
												},
												"tokenUsage": {
													"object": true
												}
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_languageModel": [
									[
										{
											"json": {
												"messages": [
													"System: You are a helpful assistant\nHuman: What happened yesterday?\nAI: \nTool: "
												],
												"estimatedTokens": 20,
												"options": {
													"openai_api_key": {
														"lc": 1,
														"type": "secret",
														"id": ["OPENAI_API_KEY"]
													},
													"model": "gpt-4o-mini",
													"timeout": 60000,
													"max_retries": 2,
													"configuration": {
														"baseURL": "https://api.openai.com/v1",
														"fetchOptions": {}
													},
													"model_kwargs": {}
												}
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "OpenAI Chat Model",
										"runIndex": 1
									}
								]
							}
						}
					],
					"Vector Store Tool": [
						{
							"executionIndex": 3,
							"executionStatus": "error",
							"source": [
								{
									"previousNode": "AI Agent",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_tool": [
									[
										{
											"json": {
												"query": "What happened yesterday?"
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_tool": [
									[
										{
											"json": {
												"query": "What happened yesterday?"
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "Vector Store Tool",
										"runIndex": 0
									}
								]
							},
							"error": {
								"message": "The resource you are requesting could not be found",
								"timestamp": 1752767214231,
								"name": "NodeOperationError",
								"description": "The resource you are requesting could not be found",
								"context": {}
							}
						}
					],
					"In-Memory Vector Store": [
						{
							"executionIndex": 4,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "Vector Store Tool",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_vectorStore": [
									[
										{
											"json": {
												"response": ["json array"]
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_vectorStore": [
									[
										{
											"json": {
												"query": "What happened yesterday?",
												"k": 4
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "In-Memory Vector Store",
										"runIndex": 0
									}
								]
							}
						}
					],
					"Embeddings OpenAI": [
						{
							"executionIndex": 5,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "In-Memory Vector Store",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_embedding": [
									[
										{
											"json": {
												"response": ["json array"]
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_embedding": [
									[
										{
											"json": {
												"query": "What happened yesterday?"
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "Embeddings OpenAI",
										"runIndex": 0
									}
								]
							}
						}
					],
					"OpenAI Chat Model1": [
						{
							"executionIndex": 6,
							"executionStatus": "error",
							"source": [
								{
									"previousNode": "Vector Store Tool",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_languageModel": [
									[
										{
											"json": {
												"messages": ["json array"],
												"estimatedTokens": 45,
												"options": {
													"object": true
												}
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_languageModel": [
									[
										{
											"json": {
												"messages": [
													"System: Use the following pieces of context to answer the users question. \nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\n----------------\n\nHuman: What happened yesterday?"
												],
												"estimatedTokens": 45,
												"options": {
													"openai_api_key": {
														"lc": 1,
														"type": "secret",
														"id": ["OPENAI_API_KEY"]
													},
													"model": "gpt-4o-mini123",
													"timeout": 60000,
													"max_retries": 2,
													"configuration": {
														"baseURL": "https://api.openai.com/v1",
														"fetchOptions": {}
													},
													"model_kwargs": {}
												}
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "OpenAI Chat Model1",
										"runIndex": 0
									}
								]
							},
							"error": {
								"message": "The resource you are requesting could not be found",
								"timestamp": 1752767214230,
								"name": "NodeApiError",
								"description": "The model `gpt-4o-mini123` does not exist or you do not have access to it.",
								"context": {}
							}
						}
					],
					"AI Agent": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "When clicking ‘Test workflow’"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"output": "I'm unable to retrieve specific information about events from yesterday at the moment. However, you may refer to news websites or social media platforms for the latest updates about yesterday's events. If you have a particular topic or event in mind, feel free to ask!"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "AI Agent"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {
					"OpenAI Chat Model": [
						{
							"subRun": [
								{
									"node": "OpenAI Chat Model",
									"runIndex": 0
								}
							]
						},
						{
							"subRun": [
								{
									"node": "OpenAI Chat Model",
									"runIndex": 1
								}
							]
						}
					],
					"Embeddings OpenAI": [
						{
							"subRun": [
								{
									"node": "Embeddings OpenAI",
									"runIndex": 0
								}
							]
						}
					],
					"In-Memory Vector Store": [
						{
							"subRun": [
								{
									"node": "In-Memory Vector Store",
									"runIndex": 0
								}
							]
						}
					],
					"OpenAI Chat Model1": [
						{
							"subRun": [
								{
									"node": "OpenAI Chat Model1",
									"runIndex": 0
								}
							]
						}
					],
					"Vector Store Tool": [
						{
							"subRun": [
								{
									"node": "Vector Store Tool",
									"runIndex": 0
								}
							]
						}
					]
				},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
