packages/testing/playwright/test-workflows/snapshots/257-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:00.420Z",
		"workflowId": "257"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"When clicking \"Test workflow\"": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Simple Memory": [
						{
							"executionIndex": 2,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "AI Agent",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_memory": [
									[
										{
											"json": {
												"action": "loadMemoryVariables",
												"chatHistory": ["json array"]
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_memory": [
									[
										{
											"json": {
												"action": "loadMemoryVariables",
												"values": {
													"input": "What time is my check-in?",
													"system_message": "You are a helpful assistant",
													"formatting_instructions": "IMPORTANT: For your response to user, you MUST use the `format_final_json_response` tool with your complete answer formatted according to the required schema. Do not attempt to format the JSON manually - always use this tool. Your response will be rejected if it is not properly formatted through this tool. Only use this tool once you are ready to provide your final answer."
												}
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "Simple Memory",
										"runIndex": 0
									}
								]
							}
						},
						{
							"executionIndex": 6,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "AI Agent",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_memory": [
									[
										{
											"json": {
												"action": "saveContext",
												"chatHistory": ["json array"]
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_memory": [
									[
										{
											"json": {
												"action": "saveContext",
												"input": {
													"input": "What time is my check-in?",
													"system_message": "You are a helpful assistant",
													"formatting_instructions": "IMPORTANT: For your response to user, you MUST use the `format_final_json_response` tool with your complete answer formatted according to the required schema. Do not attempt to format the JSON manually - always use this tool. Your response will be rejected if it is not properly formatted through this tool. Only use this tool once you are ready to provide your final answer."
												},
												"output": {
													"input": "What time is my check-in?",
													"system_message": "You are a helpful assistant",
													"formatting_instructions": "IMPORTANT: For your response to user, you MUST use the `format_final_json_response` tool with your complete answer formatted according to the required schema. Do not attempt to format the JSON manually - always use this tool. Your response will be rejected if it is not properly formatted through this tool. Only use this tool once you are ready to provide your final answer.",
													"chat_history": [],
													"output": {
														"resolution": "I don't have access to your reservation details or personal calendar. To help you find your check-in time, could you please provide more information about what type of check-in you're referring to (hotel, flight, appointment, etc.) and any relevant reservation details or confirmation numbers?",
														"reasoning": "The user is asking about their check-in time, but this could refer to many different types of check-ins (hotel, flight, appointment, etc.). I don't have access to any reservation systems or the user's personal calendar. Without specific details about what type of check-in they're referring to or any reservation identifiers, I cannot provide accurate information about their check-in time."
													}
												}
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "Simple Memory",
										"runIndex": 1
									}
								]
							}
						},
						{
							"executionIndex": 8,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "AI Agent1",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_memory": [
									[
										{
											"json": {
												"action": "loadMemoryVariables",
												"chatHistory": ["json array"]
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_memory": [
									[
										{
											"json": {
												"action": "loadMemoryVariables",
												"values": {
													"input": "What time is my check-in?",
													"system_message": "You are a helpful assistant",
													"formatting_instructions": "IMPORTANT: For your response to user, you MUST use the `format_final_json_response` tool with your complete answer formatted according to the required schema. Do not attempt to format the JSON manually - always use this tool. Your response will be rejected if it is not properly formatted through this tool. Only use this tool once you are ready to provide your final answer."
												}
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "Simple Memory",
										"runIndex": 2
									}
								]
							}
						},
						{
							"executionIndex": 12,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "AI Agent1",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_memory": [
									[
										{
											"json": {
												"action": "saveContext",
												"chatHistory": ["json array"]
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_memory": [
									[
										{
											"json": {
												"action": "saveContext",
												"input": {
													"input": "What time is my check-in?",
													"system_message": "You are a helpful assistant",
													"formatting_instructions": "IMPORTANT: For your response to user, you MUST use the `format_final_json_response` tool with your complete answer formatted according to the required schema. Do not attempt to format the JSON manually - always use this tool. Your response will be rejected if it is not properly formatted through this tool. Only use this tool once you are ready to provide your final answer."
												},
												"output": {
													"input": "What time is my check-in?",
													"system_message": "You are a helpful assistant",
													"formatting_instructions": "IMPORTANT: For your response to user, you MUST use the `format_final_json_response` tool with your complete answer formatted according to the required schema. Do not attempt to format the JSON manually - always use this tool. Your response will be rejected if it is not properly formatted through this tool. Only use this tool once you are ready to provide your final answer.",
													"chat_history": [
														{
															"lc": 1,
															"type": "constructor",
															"id": ["langchain_core", "messages", "HumanMessage"],
															"kwargs": {
																"content": "What time is my check-in?",
																"additional_kwargs": {},
																"response_metadata": {}
															}
														},
														{
															"lc": 1,
															"type": "constructor",
															"id": ["langchain_core", "messages", "AIMessage"],
															"kwargs": {
																"content": "{\"output\":{\"resolution\":\"I don't have access to your reservation details or personal calendar. To help you find your check-in time, could you please provide more information about what type of check-in you're referring to (hotel, flight, appointment, etc.) and any relevant reservation details or confirmation numbers?\",\"reasoning\":\"The user is asking about their check-in time, but this could refer to many different types of check-ins (hotel, flight, appointment, etc.). I don't have access to any reservation systems or the user's personal calendar. Without specific details about what type of check-in they're referring to or any reservation identifiers, I cannot provide accurate information about their check-in time.\"}}",
																"tool_calls": [],
																"invalid_tool_calls": [],
																"additional_kwargs": {},
																"response_metadata": {}
															}
														}
													],
													"output": {
														"resolution": "I don't have access to your reservation details or personal calendar. To help you find your check-in time, could you please provide more information about what type of check-in you're referring to (hotel, flight, appointment, etc.) and any relevant reservation details or confirmation numbers?",
														"reasoning": "The user is asking about their check-in time, but this could refer to many different types of check-ins (hotel, flight, appointment, etc.). I don't have access to any reservation systems or the user's personal calendar. Without specific details about what type of check-in they're referring to or any reservation identifiers, I cannot provide accurate information about their check-in time."
													}
												}
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "Simple Memory",
										"runIndex": 3
									}
								]
							}
						}
					],
					"Anthropic Chat Model": [
						{
							"executionIndex": 3,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "AI Agent",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_languageModel": [
									[
										{
											"json": {
												"response": {
													"object": true
												},
												"tokenUsageEstimate": {
													"object": true
												}
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_languageModel": [
									[
										{
											"json": {
												"messages": [
													"System: You are a helpful assistant\n\nIMPORTANT: For your response to user, you MUST use the `format_final_json_response` tool with your complete answer formatted according to the required schema. Do not attempt to format the JSON manually - always use this tool. Your response will be rejected if it is not properly formatted through this tool. Only use this tool once you are ready to provide your final answer.\nHuman: What time is my check-in?"
												],
												"estimatedTokens": 90,
												"options": {
													"anthropic_api_key": {
														"lc": 1,
														"type": "secret",
														"id": ["ANTHROPIC_API_KEY"]
													},
													"model": "claude-3-7-sonnet-20250219",
													"anthropic_api_url": "https://api.anthropic.com",
													"max_tokens": 2048,
													"temperature": 1,
													"top_k": -1,
													"top_p": -1,
													"invocation_kwargs": {},
													"client_options": {
														"fetchOptions": {}
													},
													"api_key": {
														"lc": 1,
														"type": "secret",
														"id": ["ANTHROPIC_API_KEY"]
													}
												}
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "Anthropic Chat Model",
										"runIndex": 0
									}
								]
							}
						},
						{
							"executionIndex": 9,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "AI Agent1",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_languageModel": [
									[
										{
											"json": {
												"response": {
													"object": true
												},
												"tokenUsageEstimate": {
													"object": true
												}
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_languageModel": [
									[
										{
											"json": {
												"messages": [
													"System: You are a helpful assistant\n\nIMPORTANT: For your response to user, you MUST use the `format_final_json_response` tool with your complete answer formatted according to the required schema. Do not attempt to format the JSON manually - always use this tool. Your response will be rejected if it is not properly formatted through this tool. Only use this tool once you are ready to provide your final answer.\nHuman: What time is my check-in?\nAI: {\"output\":{\"resolution\":\"I don't have access to your reservation details or personal calendar. To help you find your check-in time, could you please provide more information about what type of check-in you're referring to (hotel, flight, appointment, etc.) and any relevant reservation details or confirmation numbers?\",\"reasoning\":\"The user is asking about their check-in time, but this could refer to many different types of check-ins (hotel, flight, appointment, etc.). I don't have access to any reservation systems or the user's personal calendar. Without specific details about what type of check-in they're referring to or any reservation identifiers, I cannot provide accurate information about their check-in time.\"}}\nHuman: What time is my check-in?"
												],
												"estimatedTokens": 237,
												"options": {
													"anthropic_api_key": {
														"lc": 1,
														"type": "secret",
														"id": ["ANTHROPIC_API_KEY"]
													},
													"model": "claude-3-7-sonnet-20250219",
													"anthropic_api_url": "https://api.anthropic.com",
													"max_tokens": 2048,
													"temperature": 1,
													"top_k": -1,
													"top_p": -1,
													"invocation_kwargs": {},
													"client_options": {
														"fetchOptions": {}
													},
													"api_key": {
														"lc": 1,
														"type": "secret",
														"id": ["ANTHROPIC_API_KEY"]
													}
												}
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "Anthropic Chat Model",
										"runIndex": 1
									}
								]
							}
						}
					],
					"Auto-fixing Output Parser": [
						{
							"executionIndex": 4,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "AI Agent",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_outputParser": [
									[
										{
											"json": {
												"action": "parse",
												"response": {
													"object": true
												}
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_outputParser": [
									[
										{
											"json": {
												"action": "parse",
												"text": "{\"output\":{\"reasoning\":\"The user is asking about their check-in time, but this could refer to many different types of check-ins (hotel, flight, appointment, etc.). I don't have access to any reservation systems or the user's personal calendar. Without specific details about what type of check-in they're referring to or any reservation identifiers, I cannot provide accurate information about their check-in time.\",\"resolution\":\"I don't have access to your reservation details or personal calendar. To help you find your check-in time, could you please provide more information about what type of check-in you're referring to (hotel, flight, appointment, etc.) and any relevant reservation details or confirmation numbers?\"}}"
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "Auto-fixing Output Parser",
										"runIndex": 0
									}
								]
							}
						},
						{
							"executionIndex": 10,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "AI Agent1",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_outputParser": [
									[
										{
											"json": {
												"action": "parse",
												"response": {
													"object": true
												}
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_outputParser": [
									[
										{
											"json": {
												"action": "parse",
												"text": "{\"output\":{\"resolution\":\"I don't have access to your reservation details or personal calendar. To help you find your check-in time, could you please provide more information about what type of check-in you're referring to (hotel, flight, appointment, etc.) and any relevant reservation details or confirmation numbers?\",\"reasoning\":\"The user is asking about their check-in time, but this could refer to many different types of check-ins (hotel, flight, appointment, etc.). I don't have access to any reservation systems or the user's personal calendar. Without specific details about what type of check-in they're referring to or any reservation identifiers, I cannot provide accurate information about their check-in time.\"}}"
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "Auto-fixing Output Parser",
										"runIndex": 1
									}
								]
							}
						}
					],
					"Structured Output Parser": [
						{
							"executionIndex": 5,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "Auto-fixing Output Parser",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_outputParser": [
									[
										{
											"json": {
												"action": "parse",
												"response": {
													"object": true
												}
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_outputParser": [
									[
										{
											"json": {
												"action": "parse",
												"text": "{\"output\":{\"reasoning\":\"The user is asking about their check-in time, but this could refer to many different types of check-ins (hotel, flight, appointment, etc.). I don't have access to any reservation systems or the user's personal calendar. Without specific details about what type of check-in they're referring to or any reservation identifiers, I cannot provide accurate information about their check-in time.\",\"resolution\":\"I don't have access to your reservation details or personal calendar. To help you find your check-in time, could you please provide more information about what type of check-in you're referring to (hotel, flight, appointment, etc.) and any relevant reservation details or confirmation numbers?\"}}"
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "Structured Output Parser",
										"runIndex": 0
									}
								]
							}
						},
						{
							"executionIndex": 11,
							"executionStatus": "success",
							"source": [
								{
									"previousNode": "Auto-fixing Output Parser",
									"previousNodeRun": 0
								}
							],
							"data": {
								"ai_outputParser": [
									[
										{
											"json": {
												"action": "parse",
												"response": {
													"object": true
												}
											}
										}
									]
								]
							},
							"inputOverride": {
								"ai_outputParser": [
									[
										{
											"json": {
												"action": "parse",
												"text": "{\"output\":{\"resolution\":\"I don't have access to your reservation details or personal calendar. To help you find your check-in time, could you please provide more information about what type of check-in you're referring to (hotel, flight, appointment, etc.) and any relevant reservation details or confirmation numbers?\",\"reasoning\":\"The user is asking about their check-in time, but this could refer to many different types of check-ins (hotel, flight, appointment, etc.). I don't have access to any reservation systems or the user's personal calendar. Without specific details about what type of check-in they're referring to or any reservation identifiers, I cannot provide accurate information about their check-in time.\"}}"
											}
										}
									]
								]
							},
							"metadata": {
								"subRun": [
									{
										"node": "Structured Output Parser",
										"runIndex": 1
									}
								]
							}
						}
					],
					"AI Agent": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "When clicking \"Test workflow\""
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"output": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"AI Agent1": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "AI Agent"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"output": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "AI Agent1"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {
					"Simple Memory": [
						{
							"subRun": [
								{
									"node": "Simple Memory",
									"runIndex": 0
								}
							]
						},
						{
							"subRun": [
								{
									"node": "Simple Memory",
									"runIndex": 1
								}
							]
						},
						{
							"subRun": [
								{
									"node": "Simple Memory",
									"runIndex": 2
								}
							]
						},
						{
							"subRun": [
								{
									"node": "Simple Memory",
									"runIndex": 3
								}
							]
						}
					],
					"Anthropic Chat Model": [
						{
							"subRun": [
								{
									"node": "Anthropic Chat Model",
									"runIndex": 0
								}
							]
						},
						{
							"subRun": [
								{
									"node": "Anthropic Chat Model",
									"runIndex": 1
								}
							]
						}
					],
					"Structured Output Parser": [
						{
							"subRun": [
								{
									"node": "Structured Output Parser",
									"runIndex": 0
								}
							]
						},
						{
							"subRun": [
								{
									"node": "Structured Output Parser",
									"runIndex": 1
								}
							]
						}
					],
					"Auto-fixing Output Parser": [
						{
							"subRun": [
								{
									"node": "Auto-fixing Output Parser",
									"runIndex": 0
								}
							]
						},
						{
							"subRun": [
								{
									"node": "Auto-fixing Output Parser",
									"runIndex": 1
								}
							]
						}
					]
				},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
