packages/testing/playwright/test-workflows/snapshots/32-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:55.838Z",
		"workflowId": "32"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Drift ": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 25624333936,
												"createdAt": 1752767214154,
												"attributes": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Drift 1": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Drift "
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 25624333936,
												"createdAt": 1752767214154,
												"attributes": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Drift 2": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Drift 1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 25624333936,
												"createdAt": 1752767214154,
												"attributes": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Drift 3": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Drift 2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Drift 3"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
