packages/testing/playwright/test-workflows/snapshots/35-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:46:58.488Z",
		"workflowId": "35"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"title": "",
												"phone": "",
												"skype": "",
												"real_name": "nodeqa",
												"real_name_normalized": "nodeqa",
												"display_name": "",
												"display_name_normalized": "",
												"fields": {
													"object": true
												},
												"status_text": "Testing...",
												"status_emoji": ":speech_balloon:",
												"status_emoji_display_info": ["json array"],
												"status_expiration": 0,
												"avatar_hash": "gc81277605b1",
												"email": "nodeqa@n8n.io",
												"image_24": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-24.png",
												"image_32": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-32.png",
												"image_48": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-48.png",
												"image_72": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-72.png",
												"image_192": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-192.png",
												"image_512": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-512.png",
												"status_text_canonical": ""
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack13": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"ok": true,
												"channel": "C01MZ82T9TR",
												"ts": "1752767216.448959",
												"message": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack1": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Slack"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"title": "",
												"phone": "",
												"skype": "",
												"real_name": "nodeqa",
												"real_name_normalized": "nodeqa",
												"display_name": "",
												"display_name_normalized": "",
												"fields": {
													"object": true
												},
												"status_text": "Testing...",
												"status_emoji": ":speech_balloon:",
												"status_emoji_display_info": ["json array"],
												"status_expiration": 0,
												"avatar_hash": "gc81277605b1",
												"email": "nodeqa@n8n.io",
												"image_24": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-24.png",
												"image_32": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-32.png",
												"image_48": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-48.png",
												"image_72": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-72.png",
												"image_192": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-192.png",
												"image_512": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-512.png",
												"status_text_canonical": ""
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack18": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Slack13"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"ok": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack24": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Slack13"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"ok": true,
												"presence": "away",
												"online": false,
												"auto_away": false,
												"manual_away": false,
												"connection_count": 0
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack19": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Slack18"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"ok": true,
												"type": "message",
												"message": {
													"object": true
												},
												"channel": "C01MZ82T9TR"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack25": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Slack24"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "U01NE1E8FFU",
												"name": "nodeqa",
												"is_bot": false,
												"updated": 1752767216,
												"is_app_user": false,
												"team_id": "T01MZ82R8NB",
												"deleted": false,
												"color": "9f69e7",
												"is_email_confirmed": true,
												"real_name": "nodeqa",
												"tz": "Europe/Amsterdam",
												"tz_label": "Central European Summer Time",
												"tz_offset": 7200,
												"is_admin": true,
												"is_owner": true,
												"is_primary_owner": true,
												"is_restricted": false,
												"is_ultra_restricted": false,
												"has_2fa": false,
												"who_can_share_contact_card": "EVERYONE",
												"profile": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack20": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "Slack19"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"ok": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack14": [
						{
							"executionIndex": 9,
							"source": [
								{
									"previousNode": "Slack20"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"ok": true,
												"permalink": "https://n8n-qa.slack.com/archives/C01MZ82T9TR/p1752767216448959",
												"channel": "C01MZ82T9TR"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack15": [
						{
							"executionIndex": 10,
							"source": [
								{
									"previousNode": "Slack14"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"ok": true,
												"channel": "C01MZ82T9TR",
												"ts": "1752767216.448959",
												"text": "Message Updated ",
												"message": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack16": [
						{
							"executionIndex": 11,
							"source": [
								{
									"previousNode": "Slack15"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"ok": true,
												"message_ts": "1752767218.000400"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack17": [
						{
							"executionIndex": 12,
							"source": [
								{
									"previousNode": "Slack16"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"ok": true,
												"channel": "C01MZ82T9TR",
												"ts": "1752767216.448959"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Slack17"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
