packages/testing/playwright/test-workflows/snapshots/36-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:02.742Z",
		"workflowId": "36"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack10": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "F096YPGBEUQ",
												"created": 1752767217,
												"timestamp": 1752767217,
												"name": "-.txt",
												"title": "Untitled",
												"mimetype": "text/plain",
												"filetype": "text",
												"pretty_type": "Plain Text",
												"user": "U01NE1E8FFU",
												"user_team": "T01MZ82R8NB",
												"editable": true,
												"size": 72,
												"mode": "snippet",
												"is_external": false,
												"external_type": "",
												"is_public": true,
												"public_url_shared": false,
												"display_as_bot": false,
												"username": "",
												"url_private": "https://files.slack.com/files-pri/T01MZ82R8NB-F096YPGBEUQ/-.txt",
												"url_private_download": "https://files.slack.com/files-pri/T01MZ82R8NB-F096YPGBEUQ/download/-.txt",
												"permalink": "https://n8n-qa.slack.com/files/U01NE1E8FFU/F096YPGBEUQ/-.txt",
												"permalink_public": "https://slack-files.com/T01MZ82R8NB-F096YPGBEUQ-53776d7e7d",
												"edit_link": "https://n8n-qa.slack.com/files/U01NE1E8FFU/F096YPGBEUQ/-.txt/edit",
												"preview": "Test file upload Thu Jul 17 2025 16:46:56 GMT+0100 (Irish Standard Time)",
												"preview_highlight": "<div class=\"CodeMirror cm-s-default CodeMirrorServer\">\n<div class=\"CodeMirror-code\">\n<div><pre>Test file upload Thu Jul 17 2025 16:46:56 GMT+0100 (Irish Standard Time)</pre></div>\n</div>\n</div>\n",
												"lines": 1,
												"lines_more": 0,
												"preview_is_truncated": false,
												"comments_count": 0,
												"is_starred": false,
												"shares": {
													"object": true
												},
												"channels": ["json array"],
												"groups": ["json array"],
												"ims": ["json array"],
												"has_more_shares": false,
												"has_rich_preview": false,
												"file_access": "visible"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack2": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "C0964NG3LPM",
												"name": "testchannelktkizhhxgp",
												"is_channel": true,
												"is_group": false,
												"is_im": false,
												"is_mpim": false,
												"is_private": false,
												"created": 1752767217,
												"is_archived": false,
												"is_general": false,
												"unlinked": 0,
												"name_normalized": "testchannelktkizhhxgp",
												"is_shared": false,
												"is_org_shared": false,
												"is_pending_ext_shared": false,
												"pending_shared": ["json array"],
												"context_team_id": "T01MZ82R8NB",
												"updated": 1752767217677,
												"parent_conversation": null,
												"creator": "U01NE1E8FFU",
												"is_ext_shared": false,
												"shared_team_ids": ["json array"],
												"pending_connected_team_ids": ["json array"],
												"is_member": true,
												"last_read": "0000000000.000000",
												"topic": {
													"object": true
												},
												"purpose": {
													"object": true
												},
												"previous_names": ["json array"],
												"priority": 0
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack24": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack11": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Slack10"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [[]]
							}
						}
					],
					"Slack9": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Slack2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "C0964NG3LPM",
												"name": "renamedtestchannelktkizhhxgp",
												"is_channel": true,
												"is_group": false,
												"is_im": false,
												"is_mpim": false,
												"is_private": false,
												"created": 1752767217,
												"is_archived": false,
												"is_general": false,
												"unlinked": 0,
												"name_normalized": "renamedtestchannelktkizhhxgp",
												"is_shared": false,
												"is_org_shared": false,
												"is_pending_ext_shared": false,
												"pending_shared": ["json array"],
												"context_team_id": "T01MZ82R8NB",
												"updated": 1752767218443,
												"parent_conversation": null,
												"creator": "U01NE1E8FFU",
												"is_ext_shared": false,
												"shared_team_ids": ["json array"],
												"pending_connected_team_ids": ["json array"],
												"is_member": true,
												"last_read": "0000000000.000000",
												"topic": {
													"object": true
												},
												"purpose": {
													"object": true
												},
												"previous_names": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack21": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Slack24"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"ok": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack3": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Slack9"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "C0964NG3LPM",
												"name": "renamedtestchannelktkizhhxgp",
												"is_channel": true,
												"is_group": false,
												"is_im": false,
												"is_mpim": false,
												"is_private": false,
												"created": 1752767217,
												"is_archived": false,
												"is_general": false,
												"unlinked": 0,
												"name_normalized": "renamedtestchannelktkizhhxgp",
												"is_shared": false,
												"is_org_shared": false,
												"is_pending_ext_shared": false,
												"pending_shared": ["json array"],
												"context_team_id": "T01MZ82R8NB",
												"updated": 1752767219134,
												"parent_conversation": null,
												"creator": "U01NE1E8FFU",
												"is_ext_shared": false,
												"shared_team_ids": ["json array"],
												"pending_connected_team_ids": ["json array"],
												"is_member": false,
												"topic": {
													"object": true
												},
												"purpose": {
													"object": true
												},
												"previous_names": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack22": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "Slack21"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"type": "channel",
												"channel": "C01MZ82T9TR",
												"date_create": 1752767218
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack4": [
						{
							"executionIndex": 9,
							"source": [
								{
									"previousNode": "Slack3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "C0964NG3LPM",
												"name": "renamedtestchannelktkizhhxgp",
												"is_channel": true,
												"is_group": false,
												"is_im": false,
												"is_mpim": false,
												"is_private": false,
												"created": 1752767217,
												"is_archived": false,
												"is_general": false,
												"unlinked": 0,
												"name_normalized": "renamedtestchannelktkizhhxgp",
												"is_shared": false,
												"is_org_shared": false,
												"is_pending_ext_shared": false,
												"pending_shared": ["json array"],
												"context_team_id": "T01MZ82R8NB",
												"updated": 1752767219621,
												"parent_conversation": null,
												"creator": "U01NE1E8FFU",
												"is_ext_shared": false,
												"shared_team_ids": ["json array"],
												"pending_connected_team_ids": ["json array"],
												"is_member": false,
												"topic": {
													"object": true
												},
												"purpose": {
													"object": true
												},
												"previous_names": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack23": [
						{
							"executionIndex": 10,
							"source": [
								{
									"previousNode": "Slack22"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"ok": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack5": [
						{
							"executionIndex": 11,
							"source": [
								{
									"previousNode": "Slack4"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "C0964NG3LPM",
												"name": "renamedtestchannelktkizhhxgp",
												"is_channel": true,
												"is_group": false,
												"is_im": false,
												"is_mpim": false,
												"is_private": false,
												"created": 1752767217,
												"is_archived": false,
												"is_general": false,
												"unlinked": 0,
												"name_normalized": "renamedtestchannelktkizhhxgp",
												"is_shared": false,
												"is_org_shared": false,
												"is_pending_ext_shared": false,
												"pending_shared": ["json array"],
												"context_team_id": "T01MZ82R8NB",
												"updated": 1752767219621,
												"parent_conversation": null,
												"creator": "U01NE1E8FFU",
												"is_ext_shared": false,
												"shared_team_ids": ["json array"],
												"pending_connected_team_ids": ["json array"],
												"is_member": true,
												"last_read": "0000000000.000000",
												"topic": {
													"object": true
												},
												"purpose": {
													"object": true
												},
												"previous_names": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack13": [
						{
							"executionIndex": 12,
							"source": [
								{
									"previousNode": "Slack5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "C0964NG3LPM",
												"name": "renamedtestchannelktkizhhxgp",
												"is_channel": true,
												"is_group": false,
												"is_im": false,
												"is_mpim": false,
												"is_private": false,
												"created": 1752767217,
												"is_archived": false,
												"is_general": false,
												"unlinked": 0,
												"name_normalized": "renamedtestchannelktkizhhxgp",
												"is_shared": false,
												"is_org_shared": false,
												"is_pending_ext_shared": false,
												"pending_shared": ["json array"],
												"context_team_id": "T01MZ82R8NB",
												"updated": 1752767219621,
												"parent_conversation": null,
												"creator": "U01NE1E8FFU",
												"is_ext_shared": false,
												"shared_team_ids": ["json array"],
												"pending_connected_team_ids": ["json array"],
												"is_member": true,
												"last_read": "0000000000.000000",
												"topic": {
													"object": true
												},
												"purpose": {
													"object": true
												},
												"previous_names": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack17": [
						{
							"executionIndex": 13,
							"source": [
								{
									"previousNode": "Slack13"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"ok": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack16": [
						{
							"executionIndex": 14,
							"source": [
								{
									"previousNode": "Slack17"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "C0964NG3LPM",
												"name": "renamedtestchannelktkizhhxgp",
												"is_channel": true,
												"is_group": false,
												"is_im": false,
												"is_mpim": false,
												"is_private": false,
												"created": 1752767217,
												"is_archived": false,
												"is_general": false,
												"unlinked": 0,
												"name_normalized": "renamedtestchannelktkizhhxgp",
												"is_shared": false,
												"is_org_shared": false,
												"is_pending_ext_shared": false,
												"pending_shared": ["json array"],
												"context_team_id": "T01MZ82R8NB",
												"updated": 1752767219621,
												"parent_conversation": null,
												"creator": "U01NE1E8FFU",
												"is_ext_shared": false,
												"shared_team_ids": ["json array"],
												"pending_connected_team_ids": ["json array"],
												"is_member": true,
												"last_read": "1752767219.684269",
												"topic": {
													"object": true
												},
												"purpose": {
													"object": true
												},
												"previous_names": ["json array"],
												"priority": 0
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack6": [
						{
							"executionIndex": 15,
							"source": [
								{
									"previousNode": "Slack16"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "C01MZ82T9TR",
												"name": "random",
												"is_channel": true,
												"is_group": false,
												"is_im": false,
												"is_mpim": false,
												"is_private": false,
												"created": 1613575358,
												"is_archived": false,
												"is_general": false,
												"unlinked": 0,
												"name_normalized": "random",
												"is_shared": false,
												"is_org_shared": false,
												"is_pending_ext_shared": false,
												"pending_shared": ["json array"],
												"context_team_id": "T01MZ82R8NB",
												"updated": 1746595136190,
												"parent_conversation": null,
												"creator": "U01NE1E8FFU",
												"is_ext_shared": false,
												"shared_team_ids": ["json array"],
												"pending_connected_team_ids": ["json array"],
												"is_member": true,
												"topic": {
													"object": true
												},
												"purpose": {
													"object": true
												},
												"properties": {
													"object": true
												},
												"previous_names": ["json array"],
												"num_members": 2
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack7": [
						{
							"executionIndex": 16,
							"source": [
								{
									"previousNode": "Slack6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"subtype": "channel_join",
												"user": "U01NE1E8FFU",
												"text": "<@U01NE1E8FFU> has joined the channel",
												"type": "message",
												"ts": "1752767220.891859"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack18": [
						{
							"executionIndex": 17,
							"source": [
								{
									"previousNode": "Slack7"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"subtype": "channel_join",
												"user": "U01NE1E8FFU",
												"text": "<@U01NE1E8FFU> has joined the channel",
												"type": "message",
												"ts": "1752767220.891859"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack8": [
						{
							"executionIndex": 18,
							"source": [
								{
									"previousNode": "Slack18"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"member": "U01N08LEY9M"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack": [
						{
							"executionIndex": 19,
							"source": [
								{
									"previousNode": "Slack8"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"ok": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack14": [
						{
							"executionIndex": 20,
							"source": [
								{
									"previousNode": "Slack"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"ok": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Slack1": [
						{
							"executionIndex": 21,
							"source": [
								{
									"previousNode": "Slack14"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"ok": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Slack1"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
