packages/testing/playwright/test-workflows/snapshots/37-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:06.526Z",
		"workflowId": "37"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Gitlab": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 24497029,
												"description": null,
												"name": "nodemationQA",
												"name_with_namespace": "nodeqa / nodemationQA",
												"path": "nodemationqa",
												"path_with_namespace": "nodeqa/nodemationqa",
												"created_at": "2021-02-18T08:25:21.075Z",
												"default_branch": "master",
												"tag_list": ["json array"],
												"ssh_url_to_repo": "git@gitlab.com:nodeqa/nodemationqa.git",
												"http_url_to_repo": "https://gitlab.com/nodeqa/nodemationqa.git",
												"web_url": "https://gitlab.com/nodeqa/nodemationqa",
												"readme_url": "https://gitlab.com/nodeqa/nodemationqa/-/blob/master/README.md",
												"forks_count": 0,
												"avatar_url": null,
												"star_count": 0,
												"last_activity_at": "2025-07-17T14:41:44.913Z",
												"visibility": "private",
												"namespace": {
													"object": true
												},
												"container_registry_image_prefix": "registry.gitlab.com/nodeqa/nodemationqa",
												"_links": {
													"object": true
												},
												"marked_for_deletion_at": null,
												"marked_for_deletion_on": null,
												"packages_enabled": true,
												"empty_repo": false,
												"archived": false,
												"resolve_outdated_diff_discussions": false,
												"container_expiration_policy": {
													"object": true
												},
												"repository_object_format": "sha1",
												"issues_enabled": true,
												"merge_requests_enabled": true,
												"wiki_enabled": true,
												"jobs_enabled": true,
												"snippets_enabled": true,
												"container_registry_enabled": true,
												"service_desk_enabled": true,
												"service_desk_address": "contact-project+nodeqa-nodemationqa-24497029-issue-@incoming.gitlab.com",
												"can_create_merge_request_in": true,
												"issues_access_level": "enabled",
												"repository_access_level": "enabled",
												"merge_requests_access_level": "enabled",
												"forking_access_level": "enabled",
												"wiki_access_level": "enabled",
												"builds_access_level": "enabled",
												"snippets_access_level": "enabled",
												"pages_access_level": "private",
												"analytics_access_level": "enabled",
												"container_registry_access_level": "enabled",
												"security_and_compliance_access_level": "private",
												"releases_access_level": "enabled",
												"environments_access_level": "enabled",
												"feature_flags_access_level": "enabled",
												"infrastructure_access_level": "enabled",
												"monitor_access_level": "enabled",
												"model_experiments_access_level": "enabled",
												"model_registry_access_level": "enabled",
												"emails_disabled": false,
												"emails_enabled": true,
												"shared_runners_enabled": true,
												"lfs_enabled": true,
												"creator_id": 8226562,
												"import_url": null,
												"import_type": null,
												"import_status": "none",
												"import_error": null,
												"open_issues_count": 3081,
												"description_html": "",
												"updated_at": "2025-07-17T15:24:02.982Z",
												"ci_default_git_depth": 50,
												"ci_delete_pipelines_in_seconds": null,
												"ci_forward_deployment_enabled": true,
												"ci_forward_deployment_rollback_allowed": true,
												"ci_job_token_scope_enabled": false,
												"ci_separated_caches": true,
												"ci_allow_fork_pipelines_to_run_in_parent_project": true,
												"ci_id_token_sub_claim_components": ["json array"],
												"build_git_strategy": "fetch",
												"keep_latest_artifact": true,
												"restrict_user_defined_variables": false,
												"ci_pipeline_variables_minimum_override_role": "developer",
												"runner_token_expiration_interval": null,
												"group_runners_enabled": true,
												"auto_cancel_pending_pipelines": "enabled",
												"build_timeout": 3600,
												"auto_devops_enabled": false,
												"auto_devops_deploy_strategy": "continuous",
												"ci_push_repository_for_job_token_allowed": false,
												"ci_config_path": "",
												"public_jobs": true,
												"shared_with_groups": ["json array"],
												"only_allow_merge_if_pipeline_succeeds": false,
												"allow_merge_on_skipped_pipeline": null,
												"request_access_enabled": true,
												"only_allow_merge_if_all_discussions_are_resolved": false,
												"remove_source_branch_after_merge": true,
												"printing_merge_request_link_enabled": true,
												"merge_method": "merge",
												"merge_request_title_regex": null,
												"merge_request_title_regex_description": null,
												"squash_option": "default_off",
												"enforce_auth_checks_on_uploads": true,
												"suggestion_commit_message": null,
												"merge_commit_template": null,
												"squash_commit_template": null,
												"issue_branch_template": null,
												"warn_about_potentially_unwanted_characters": true,
												"autoclose_referenced_issues": true,
												"max_artifacts_size": null,
												"external_authorization_classification_label": "",
												"requirements_enabled": false,
												"requirements_access_level": "enabled",
												"security_and_compliance_enabled": true,
												"compliance_frameworks": ["json array"],
												"web_based_commit_signing_enabled": false,
												"permissions": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Gitlab2": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 170734282,
												"iid": 3082,
												"project_id": 24497029,
												"title": "Issue - Thu Jul 17 2025",
												"description": "QA Test on Thu Jul 17 2025",
												"state": "opened",
												"created_at": "2025-07-17T15:46:57.945Z",
												"updated_at": "2025-07-17T15:46:57.945Z",
												"closed_at": null,
												"closed_by": null,
												"labels": ["json array"],
												"milestone": null,
												"assignees": ["json array"],
												"author": {
													"object": true
												},
												"type": "ISSUE",
												"assignee": null,
												"user_notes_count": 0,
												"merge_requests_count": 0,
												"upvotes": 0,
												"downvotes": 0,
												"due_date": null,
												"confidential": false,
												"discussion_locked": null,
												"issue_type": "issue",
												"web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3082",
												"time_stats": {
													"object": true
												},
												"task_completion_status": {
													"object": true
												},
												"blocking_issues_count": 0,
												"has_tasks": true,
												"task_status": "0 of 0 checklist items completed",
												"_links": {
													"object": true
												},
												"references": {
													"object": true
												},
												"severity": "UNKNOWN",
												"subscribed": true,
												"moved_to_id": null,
												"imported": false,
												"imported_from": "none",
												"service_desk_reply_to": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Gitlab7": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"name": "Release1752767218311",
												"tag_name": "Release-tag-test1752767218314",
												"description": null,
												"created_at": "2025-07-17T15:46:59.971Z",
												"released_at": "2025-07-17T15:46:59.971Z",
												"upcoming_release": false,
												"author": {
													"object": true
												},
												"commit": {
													"object": true
												},
												"commit_path": "/nodeqa/nodemationqa/-/commit/dd2f13c1cc94dfd37e0c3063841860c5d0ae7252",
												"tag_path": "/nodeqa/nodemationqa/-/tags/Release-tag-test1752767218314",
												"assets": {
													"object": true
												},
												"evidences": ["json array"],
												"_links": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Gitlab8": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 24497628,
												"description": "Project created for gitlab node QA teting",
												"name": "QATestProject",
												"name_with_namespace": "n8n qa / QATestProject",
												"path": "qatestproject",
												"path_with_namespace": "n8nqa/qatestproject",
												"created_at": "2021-02-18T08:40:49.130Z",
												"default_branch": "main",
												"tag_list": ["json array"],
												"ssh_url_to_repo": "git@gitlab.com:n8nqa/qatestproject.git",
												"http_url_to_repo": "https://gitlab.com/n8nqa/qatestproject.git",
												"web_url": "https://gitlab.com/n8nqa/qatestproject",
												"readme_url": null,
												"forks_count": 0,
												"avatar_url": null,
												"star_count": 0,
												"last_activity_at": "2023-04-30T00:20:13.620Z",
												"visibility": "private",
												"namespace": {
													"object": true
												},
												"container_registry_image_prefix": "registry.gitlab.com/n8nqa/qatestproject",
												"_links": {
													"object": true
												},
												"marked_for_deletion_at": null,
												"marked_for_deletion_on": null,
												"packages_enabled": true,
												"empty_repo": true,
												"archived": false,
												"owner": {
													"object": true
												},
												"resolve_outdated_diff_discussions": false,
												"container_expiration_policy": {
													"object": true
												},
												"repository_object_format": "sha1",
												"issues_enabled": true,
												"merge_requests_enabled": true,
												"wiki_enabled": true,
												"jobs_enabled": true,
												"snippets_enabled": true,
												"container_registry_enabled": true,
												"service_desk_enabled": true,
												"service_desk_address": "contact-project+n8nqa-qatestproject-24497628-issue-@incoming.gitlab.com",
												"can_create_merge_request_in": true,
												"issues_access_level": "enabled",
												"repository_access_level": "enabled",
												"merge_requests_access_level": "enabled",
												"forking_access_level": "enabled",
												"wiki_access_level": "enabled",
												"builds_access_level": "enabled",
												"snippets_access_level": "enabled",
												"pages_access_level": "private",
												"analytics_access_level": "enabled",
												"container_registry_access_level": "enabled",
												"security_and_compliance_access_level": "private",
												"releases_access_level": "enabled",
												"environments_access_level": "enabled",
												"feature_flags_access_level": "enabled",
												"infrastructure_access_level": "enabled",
												"monitor_access_level": "enabled",
												"model_experiments_access_level": "enabled",
												"model_registry_access_level": "enabled",
												"emails_disabled": false,
												"emails_enabled": true,
												"shared_runners_enabled": true,
												"lfs_enabled": true,
												"creator_id": 8226562,
												"import_url": null,
												"import_type": null,
												"import_status": "none",
												"open_issues_count": 2,
												"description_html": "<p data-sourcepos=\"1:1-1:41\" dir=\"auto\">Project created for gitlab node QA teting</p>",
												"updated_at": "2024-01-16T16:24:11.955Z",
												"ci_default_git_depth": 50,
												"ci_delete_pipelines_in_seconds": null,
												"ci_forward_deployment_enabled": true,
												"ci_forward_deployment_rollback_allowed": true,
												"ci_job_token_scope_enabled": false,
												"ci_separated_caches": true,
												"ci_allow_fork_pipelines_to_run_in_parent_project": true,
												"ci_id_token_sub_claim_components": ["json array"],
												"build_git_strategy": "fetch",
												"keep_latest_artifact": true,
												"restrict_user_defined_variables": false,
												"ci_pipeline_variables_minimum_override_role": "developer",
												"runner_token_expiration_interval": null,
												"group_runners_enabled": true,
												"auto_cancel_pending_pipelines": "enabled",
												"build_timeout": 3600,
												"auto_devops_enabled": false,
												"auto_devops_deploy_strategy": "continuous",
												"ci_push_repository_for_job_token_allowed": false,
												"runners_token": "GR1348941pyFzz2y953wFx1bxKt4A",
												"ci_config_path": "",
												"public_jobs": true,
												"shared_with_groups": ["json array"],
												"only_allow_merge_if_pipeline_succeeds": false,
												"allow_merge_on_skipped_pipeline": null,
												"request_access_enabled": true,
												"only_allow_merge_if_all_discussions_are_resolved": false,
												"remove_source_branch_after_merge": true,
												"printing_merge_request_link_enabled": true,
												"merge_method": "merge",
												"merge_request_title_regex": null,
												"merge_request_title_regex_description": null,
												"squash_option": "default_off",
												"enforce_auth_checks_on_uploads": true,
												"suggestion_commit_message": null,
												"merge_commit_template": null,
												"squash_commit_template": null,
												"issue_branch_template": null,
												"warn_about_potentially_unwanted_characters": true,
												"autoclose_referenced_issues": true,
												"max_artifacts_size": null,
												"external_authorization_classification_label": "",
												"requirements_enabled": false,
												"requirements_access_level": "enabled",
												"security_and_compliance_enabled": true,
												"compliance_frameworks": ["json array"],
												"web_based_commit_signing_enabled": false,
												"permissions": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Gitlab1": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Gitlab"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 170734282,
												"iid": 3082,
												"project_id": 24497029,
												"title": "Issue - Thu Jul 17 2025",
												"description": "QA Test on Thu Jul 17 2025",
												"state": "opened",
												"created_at": "2025-07-17T15:46:57.945Z",
												"updated_at": "2025-07-17T15:46:57.945Z",
												"closed_at": null,
												"closed_by": null,
												"labels": ["json array"],
												"milestone": null,
												"assignees": ["json array"],
												"author": {
													"object": true
												},
												"type": "ISSUE",
												"assignee": null,
												"user_notes_count": 0,
												"merge_requests_count": 0,
												"upvotes": 0,
												"downvotes": 0,
												"due_date": null,
												"confidential": false,
												"discussion_locked": null,
												"issue_type": "issue",
												"web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3082",
												"time_stats": {
													"object": true
												},
												"task_completion_status": {
													"object": true
												},
												"blocking_issues_count": 0,
												"has_tasks": true,
												"task_status": "0 of 0 checklist items completed",
												"_links": {
													"object": true
												},
												"references": {
													"object": true
												},
												"severity": "UNKNOWN",
												"moved_to_id": null,
												"imported": false,
												"imported_from": "none",
												"service_desk_reply_to": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Gitlab3": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Gitlab2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 2633967927,
												"type": null,
												"body": "Comment on issue - Thu Jul 17 2025 16:47:02 GMT+0100 (Irish Standard Time)",
												"author": {
													"object": true
												},
												"created_at": "2025-07-17T15:47:02.890Z",
												"updated_at": "2025-07-17T15:47:02.890Z",
												"system": false,
												"noteable_id": 170734282,
												"noteable_type": "Issue",
												"project_id": 24497029,
												"resolvable": false,
												"confidential": false,
												"internal": false,
												"imported": false,
												"imported_from": "none",
												"noteable_iid": 3082,
												"commands_changes": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Gitlab9": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Gitlab7"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"name": "Release1752767218311",
												"tag_name": "Release-tag-test1752767218314",
												"description": null,
												"created_at": "2025-07-17T15:46:59.971Z",
												"released_at": "2025-07-17T15:46:59.971Z",
												"upcoming_release": false,
												"author": {
													"object": true
												},
												"commit": {
													"object": true
												},
												"commit_path": "/nodeqa/nodemationqa/-/commit/dd2f13c1cc94dfd37e0c3063841860c5d0ae7252",
												"tag_path": "/nodeqa/nodemationqa/-/tags/Release-tag-test1752767218314",
												"assets": {
													"object": true
												},
												"evidences": ["json array"],
												"_links": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Gitlab4": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "Gitlab3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 170734282,
												"iid": 3082,
												"project_id": 24497029,
												"title": "Issue - Thu Jul 17 2025",
												"description": "Edited QA Test on Thu Jul 17 2025",
												"state": "opened",
												"created_at": "2025-07-17T15:46:57.945Z",
												"updated_at": "2025-07-17T15:47:03.750Z",
												"closed_at": null,
												"closed_by": null,
												"labels": ["json array"],
												"milestone": null,
												"assignees": ["json array"],
												"author": {
													"object": true
												},
												"type": "ISSUE",
												"assignee": null,
												"user_notes_count": 1,
												"merge_requests_count": 0,
												"upvotes": 0,
												"downvotes": 0,
												"due_date": null,
												"confidential": false,
												"discussion_locked": null,
												"issue_type": "issue",
												"web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3082",
												"time_stats": {
													"object": true
												},
												"task_completion_status": {
													"object": true
												},
												"blocking_issues_count": 0,
												"has_tasks": true,
												"task_status": "0 of 0 checklist items completed",
												"_links": {
													"object": true
												},
												"references": {
													"object": true
												},
												"severity": "UNKNOWN",
												"subscribed": true,
												"moved_to_id": null,
												"imported": false,
												"imported_from": "none",
												"service_desk_reply_to": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Gitlab10": [
						{
							"executionIndex": 9,
							"source": [
								{
									"previousNode": "Gitlab9"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"name": "Release1752767218311",
												"tag_name": "Release-tag-test1752767218314",
												"description": null,
												"created_at": "2025-07-17T15:46:59.971Z",
												"released_at": "2025-07-17T15:46:59.971Z",
												"upcoming_release": false,
												"author": {
													"object": true
												},
												"commit": {
													"object": true
												},
												"commit_path": "/nodeqa/nodemationqa/-/commit/dd2f13c1cc94dfd37e0c3063841860c5d0ae7252",
												"tag_path": "/nodeqa/nodemationqa/-/tags/Release-tag-test1752767218314",
												"assets": {
													"object": true
												},
												"evidences": ["json array"],
												"_links": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Gitlab5": [
						{
							"executionIndex": 10,
							"source": [
								{
									"previousNode": "Gitlab4"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 170734282,
												"iid": 3082,
												"project_id": 24497029,
												"title": "Issue - Thu Jul 17 2025",
												"description": "Edited QA Test on Thu Jul 17 2025",
												"state": "opened",
												"created_at": "2025-07-17T15:46:57.945Z",
												"updated_at": "2025-07-17T15:47:03.750Z",
												"closed_at": null,
												"closed_by": null,
												"labels": ["json array"],
												"milestone": null,
												"assignees": ["json array"],
												"author": {
													"object": true
												},
												"type": "ISSUE",
												"assignee": null,
												"user_notes_count": 1,
												"merge_requests_count": 0,
												"upvotes": 0,
												"downvotes": 0,
												"due_date": null,
												"confidential": false,
												"discussion_locked": null,
												"issue_type": "issue",
												"web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3082",
												"time_stats": {
													"object": true
												},
												"task_completion_status": {
													"object": true
												},
												"blocking_issues_count": 0,
												"has_tasks": true,
												"task_status": "0 of 0 checklist items completed",
												"_links": {
													"object": true
												},
												"references": {
													"object": true
												},
												"severity": "UNKNOWN",
												"subscribed": true,
												"moved_to_id": null,
												"imported": false,
												"imported_from": "none",
												"service_desk_reply_to": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Gitlab11": [
						{
							"executionIndex": 11,
							"source": [
								{
									"previousNode": "Gitlab10"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"name": "UpdatedRelease1752767218311",
												"tag_name": "Release-tag-test1752767218314",
												"description": null,
												"created_at": "2025-07-17T15:46:59.971Z",
												"released_at": "2025-07-17T15:46:59.971Z",
												"upcoming_release": false,
												"author": {
													"object": true
												},
												"commit": {
													"object": true
												},
												"commit_path": "/nodeqa/nodemationqa/-/commit/dd2f13c1cc94dfd37e0c3063841860c5d0ae7252",
												"tag_path": "/nodeqa/nodemationqa/-/tags/Release-tag-test1752767218314",
												"assets": {
													"object": true
												},
												"evidences": ["json array"],
												"_links": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Gitlab6": [
						{
							"executionIndex": 12,
							"source": [
								{
									"previousNode": "Gitlab5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 170734282,
												"iid": 3082,
												"project_id": 24497029,
												"title": "Issue - Thu Jul 17 2025",
												"description": "Edited QA Test on Thu Jul 17 2025",
												"state": "opened",
												"created_at": "2025-07-17T15:46:57.945Z",
												"updated_at": "2025-07-17T15:47:03.750Z",
												"closed_at": null,
												"closed_by": null,
												"labels": ["json array"],
												"milestone": null,
												"assignees": ["json array"],
												"author": {
													"object": true
												},
												"type": "ISSUE",
												"assignee": null,
												"user_notes_count": 1,
												"merge_requests_count": 0,
												"upvotes": 0,
												"downvotes": 0,
												"due_date": null,
												"confidential": false,
												"discussion_locked": null,
												"issue_type": "issue",
												"web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3082",
												"time_stats": {
													"object": true
												},
												"task_completion_status": {
													"object": true
												},
												"blocking_issues_count": 0,
												"has_tasks": true,
												"task_status": "0 of 0 checklist items completed",
												"_links": {
													"object": true
												},
												"references": {
													"object": true
												},
												"severity": "UNKNOWN",
												"subscribed": true,
												"moved_to_id": null,
												"imported": false,
												"imported_from": "none",
												"service_desk_reply_to": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Gitlab12": [
						{
							"executionIndex": 13,
							"source": [
								{
									"previousNode": "Gitlab11"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"name": "UpdatedRelease1752767218311",
												"tag_name": "Release-tag-test1752767218314",
												"description": null,
												"created_at": "2025-07-17T15:46:59.971Z",
												"released_at": "2025-07-17T15:46:59.971Z",
												"upcoming_release": false,
												"author": {
													"object": true
												},
												"commit": {
													"object": true
												},
												"commit_path": "/nodeqa/nodemationqa/-/commit/dd2f13c1cc94dfd37e0c3063841860c5d0ae7252",
												"tag_path": "/nodeqa/nodemationqa/-/tags/Release-tag-test1752767218314",
												"assets": {
													"object": true
												},
												"evidences": ["json array"],
												"_links": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Gitlab12"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
