packages/testing/playwright/test-workflows/snapshots/44-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:08.460Z",
		"workflowId": "44"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "1a8oWbywE7WA9jPmhTiyViiFRVjp8mLJr",
												"name": "testFolder"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive3": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"kind": "drive#file",
												"id": "1CcWuU4XpI8IIgLDi-pM9Izb9diLjAB9A",
												"name": "testFile",
												"mimeType": "text/plain"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive10": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive1": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Google Drive"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"kind": "drive#permission",
												"id": "anyoneWithLink",
												"type": "anyone",
												"role": "reader",
												"allowFileDiscovery": false
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive4": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Google Drive3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"kind": "drive#permission",
												"id": "anyoneWithLink",
												"type": "anyone",
												"role": "reader",
												"allowFileDiscovery": false
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive2": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Google Drive1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"fileId": "1a8oWbywE7WA9jPmhTiyViiFRVjp8mLJr",
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive5": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Google Drive4"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "1YNeDnFJOaq3mDazf8Ezm3V3K-aIKdmugke2m89Qf3dg",
												"name": "oupa"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive6": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "Google Drive5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "1YNeDnFJOaq3mDazf8Ezm3V3K-aIKdmugke2m89Qf3dg",
												"name": "oupa"
											},
											"binary": {
												"data": {
													"mimeType": "text/plain",
													"fileType": "text",
													"fileExtension": "txt",
													"data": "VGVzdCBGaWxlIENvbnRlbnQ=",
													"fileName": "testFile",
													"fileSize": "17 B"
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive7": [
						{
							"executionIndex": 9,
							"source": [
								{
									"previousNode": "Google Drive6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"kind": "drive#file",
												"id": "1X1G8noq9NGnStFSbliX3dNtlyeihmKsQ",
												"name": "testFile",
												"mimeType": "text/plain"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive8": [
						{
							"executionIndex": 10,
							"source": [
								{
									"previousNode": "Google Drive7"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"fileId": "1CcWuU4XpI8IIgLDi-pM9Izb9diLjAB9A",
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Google Drive9": [
						{
							"executionIndex": 11,
							"source": [
								{
									"previousNode": "Google Drive8"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"fileId": "1X1G8noq9NGnStFSbliX3dNtlyeihmKsQ",
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Google Drive9"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
