packages/testing/playwright/test-workflows/snapshots/48-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:09.927Z",
		"workflowId": "48"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana2": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"gid": "1210824149481703",
												"num_likes": 0,
												"num_hearts": 0,
												"workspace": {
													"object": true
												},
												"start_at": null,
												"start_on": null,
												"resource_subtype": "default_task",
												"due_at": null,
												"due_on": null,
												"completed_at": null,
												"assignee_status": "upcoming",
												"completed": false,
												"actual_time_minutes": 0,
												"notes": "",
												"name": "TaskTest",
												"modified_at": "2025-07-17T15:47:00.451Z",
												"created_at": "2025-07-17T15:47:00.224Z",
												"resource_type": "task",
												"projects": ["json array"],
												"memberships": ["json array"],
												"tags": ["json array"],
												"parent": null,
												"likes": ["json array"],
												"hearts": ["json array"],
												"liked": false,
												"hearted": false,
												"assignee": {
													"object": true
												},
												"followers": ["json array"],
												"assignee_section": {
													"object": true
												},
												"permalink_url": "https://app.asana.com/1/1177253494675264/project/1199961131280920/task/1210824149481703"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana14": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"gid": "1199961026001666",
												"email": "nodeqa@n8n.io",
												"name": "nodeqa",
												"photo": null,
												"resource_type": "user",
												"workspaces": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"gid": "1199961131378839",
												"name": "QAtest",
												"resource_type": "project"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana3": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Asana2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"gid": "1210824149481703",
												"projects": ["json array"],
												"memberships": ["json array"],
												"resource_type": "task",
												"created_at": "2025-07-17T15:47:00.224Z",
												"modified_at": "2025-07-17T15:47:02.165Z",
												"name": "UpdatedTestTask",
												"notes": "",
												"workspace": {
													"object": true
												},
												"start_at": null,
												"start_on": null,
												"resource_subtype": "default_task",
												"due_at": null,
												"due_on": null,
												"completed_at": null,
												"assignee_status": "inbox",
												"completed": false,
												"actual_time_minutes": 0,
												"num_hearts": 0,
												"num_likes": 0,
												"assignee": {
													"object": true
												},
												"tags": ["json array"],
												"parent": null,
												"hearted": false,
												"liked": false,
												"hearts": ["json array"],
												"likes": ["json array"],
												"followers": ["json array"],
												"assignee_section": {
													"object": true
												},
												"permalink_url": "https://app.asana.com/1/1177253494675264/project/1199961131280920/task/1210824149481703"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana15": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Asana14"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"gid": "1202187737680529",
												"name": "Adriana Toader",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1210447066810151",
												"name": "Angel Menendez",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1202890883228546",
												"name": "Ardit Fetahu",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1206933450858036",
												"name": "Aya",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1209716676051853",
												"name": "bart@n8n.io",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1201317194658352",
												"name": "Dale Player",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1209089579490684",
												"name": "David Arens",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1209358493509784",
												"name": "Gera",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1183698132267547",
												"name": "Inte Gration",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1202307247988024",
												"name": "ivan",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1206344448463309",
												"name": "ivan@n8n.io",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1210766812355843",
												"name": "Jaakko Husso",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1198750619112603",
												"name": "Jan Oberhauser",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1202718728322685",
												"name": "John",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1210508036873691",
												"name": "Liam Mulligan",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1207168924369543",
												"name": "luis@n8n.io",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1202718619090236",
												"name": "Mary",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1199961026001666",
												"name": "nodeqa",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1177656661193880",
												"name": "Ronalds Upenieks",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1177253503277681",
												"name": "Tanay Pant",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1204568752114666",
												"name": "Thomas Support",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1209729434313156",
												"name": "tino.zwirs@n8n.io",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										},
										{
											"json": {
												"gid": "1202404236960393",
												"name": "Tom",
												"resource_type": "user"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana1": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Asana"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"gid": "1199961131378839",
												"archived": false,
												"color": null,
												"completed": false,
												"completed_at": null,
												"created_at": "2021-02-19T14:12:58.357Z",
												"current_status": null,
												"current_status_update": null,
												"custom_fields": ["json array"],
												"default_access_level": "editor",
												"default_view": "list",
												"due_on": null,
												"due_date": null,
												"followers": ["json array"],
												"members": ["json array"],
												"minimum_access_level_for_customization": "editor",
												"minimum_access_level_for_sharing": "editor",
												"modified_at": "2025-07-17T12:33:44.885Z",
												"name": "QAtest",
												"notes": "",
												"owner": {
													"object": true
												},
												"permalink_url": "https://app.asana.com/1/1177253494675264/project/1199961131378839",
												"privacy_setting": "private",
												"public": false,
												"resource_type": "project",
												"start_on": null,
												"team": {
													"object": true
												},
												"workspace": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana4": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Asana3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana5": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "Asana4"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"gid": "1199961131378855",
												"name": "✏️ Finish setting up your first project",
												"resource_type": "task",
												"resource_subtype": "default_task"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana6": [
						{
							"executionIndex": 9,
							"source": [
								{
									"previousNode": "Asana5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"gid": "1210824149481703",
												"actual_time_minutes": null,
												"assignee": {
													"object": true
												},
												"assignee_status": "inbox",
												"assignee_section": {
													"object": true
												},
												"completed": false,
												"completed_at": null,
												"created_at": "2025-07-17T15:47:00.224Z",
												"due_at": null,
												"due_on": null,
												"followers": ["json array"],
												"hearted": false,
												"hearts": ["json array"],
												"liked": false,
												"likes": ["json array"],
												"memberships": ["json array"],
												"modified_at": "2025-07-17T15:47:03.601Z",
												"name": "UpdatedTestTask",
												"notes": "",
												"num_hearts": 0,
												"num_likes": 0,
												"parent": null,
												"permalink_url": "https://app.asana.com/1/1177253494675264/project/1199961131378839/task/1210824149481703",
												"projects": ["json array"],
												"resource_type": "task",
												"start_at": null,
												"start_on": null,
												"tags": ["json array"],
												"resource_subtype": "default_task",
												"workspace": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana8": [
						{
							"executionIndex": 10,
							"source": [
								{
									"previousNode": "Asana6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"gid": "1210824480448174",
												"resource_type": "story",
												"created_at": "2025-07-17T15:47:04.933Z",
												"num_hearts": 0,
												"resource_subtype": "comment_added",
												"is_edited": false,
												"text": "TestTaskComment",
												"type": "comment",
												"is_pinned": false,
												"source": "api",
												"num_likes": 0,
												"liked": false,
												"hearted": false,
												"hearts": ["json array"],
												"likes": ["json array"],
												"previews": ["json array"],
												"is_editable": true,
												"created_by": {
													"object": true
												},
												"target": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana10": [
						{
							"executionIndex": 11,
							"source": [
								{
									"previousNode": "Asana6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana12": [
						{
							"executionIndex": 12,
							"source": [
								{
									"previousNode": "Asana6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana16": [
						{
							"executionIndex": 13,
							"source": [
								{
									"previousNode": "Asana6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"gid": "1210824106533457",
												"projects": ["json array"],
												"memberships": ["json array"],
												"resource_type": "task",
												"created_at": "2025-07-17T15:47:06.870Z",
												"modified_at": "2025-07-17T15:47:07.083Z",
												"name": "SubTestTask",
												"notes": "",
												"assignee": null,
												"start_at": null,
												"start_on": null,
												"resource_subtype": "default_task",
												"due_at": null,
												"due_on": null,
												"completed_at": null,
												"assignee_status": "upcoming",
												"completed": false,
												"actual_time_minutes": 0,
												"workspace": {
													"object": true
												},
												"num_hearts": 0,
												"num_likes": 0,
												"tags": ["json array"],
												"hearted": false,
												"liked": false,
												"hearts": ["json array"],
												"likes": ["json array"],
												"parent": {
													"object": true
												},
												"permalink_url": "https://app.asana.com/1/1177253494675264/project/1199961131378839/task/1210824106533457",
												"followers": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana9": [
						{
							"executionIndex": 14,
							"source": [
								{
									"previousNode": "Asana8"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana11": [
						{
							"executionIndex": 15,
							"source": [
								{
									"previousNode": "Asana10"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana13": [
						{
							"executionIndex": 16,
							"source": [
								{
									"previousNode": "Asana12"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana17": [
						{
							"executionIndex": 17,
							"source": [
								{
									"previousNode": "Asana16"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"gid": "1210824106533457",
												"name": "SubTestTask",
												"resource_type": "task",
												"resource_subtype": "default_task"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Asana7": [
						{
							"executionIndex": 18,
							"source": [
								{
									"previousNode": "Asana17"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Asana7"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
