packages/testing/playwright/test-workflows/snapshots/52-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:26.518Z",
		"workflowId": "52"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Coda11": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "table-K1_z3jl_HH",
												"type": "table",
												"tableType": "view",
												"href": "https://coda.io/apis/v1/docs/2-5DWWeFZp/tables/table-K1_z3jl_HH",
												"browserLink": "https://coda.io/d/_d2-5DWWeFZp#_tutable-K1_z3jl_HH",
												"name": "Table View",
												"parent": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Coda4": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "c-XvglOYNTU8",
												"type": "column",
												"name": "number",
												"href": "https://coda.io/apis/v1/docs/2-5DWWeFZp/tables/grid-lDqTU2W4nP/columns/c-XvglOYNTU8",
												"display": true,
												"format": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Coda2": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "f-nyztATalRJ",
												"type": "formula",
												"href": "https://coda.io/apis/v1/docs/2-5DWWeFZp/formulas/f-nyztATalRJ",
												"name": "Test",
												"parent": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Coda": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [[]]
							}
						}
					],
					"Coda12": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Coda11"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "table-FTj1L0rh08",
												"type": "table",
												"tableType": "view",
												"href": "https://coda.io/apis/v1/docs/2-5DWWeFZp/tables/table-FTj1L0rh08",
												"browserLink": "https://coda.io/d/_d2-5DWWeFZp#_tutable-FTj1L0rh08",
												"parent": {
													"object": true
												},
												"parentTable": {
													"object": true
												},
												"name": "View of Table 1",
												"displayColumn": {
													"object": true
												},
												"rowCount": 130,
												"createdAt": "2021-02-22T08:40:15.720Z",
												"updatedAt": "2021-02-22T08:40:15.720Z",
												"viewId": "v-k0w5NxL7Wt",
												"sorts": ["json array"],
												"layout": "masterDetail"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Coda5": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Coda4"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "c-XvglOYNTU8",
												"type": "column",
												"name": "number",
												"href": "https://coda.io/apis/v1/docs/2-5DWWeFZp/tables/grid-lDqTU2W4nP/columns/c-XvglOYNTU8",
												"display": true,
												"format": {
													"object": true
												},
												"parent": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Coda3": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Coda2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "f-nyztATalRJ",
												"type": "formula",
												"href": "https://coda.io/apis/v1/docs/2-5DWWeFZp/formulas/f-nyztATalRJ",
												"name": "Test",
												"value": "",
												"parent": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Coda13": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "Coda12"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "c-XvglOYNTU8",
												"type": "column",
												"name": "number",
												"href": "https://coda.io/apis/v1/docs/2-5DWWeFZp/tables/grid-lDqTU2W4nP/columns/c-XvglOYNTU8",
												"display": true,
												"format": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Coda6": [
						{
							"executionIndex": 9,
							"source": [
								{
									"previousNode": "Coda5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "i-RcjdUMVbeN",
												"number": 101,
												"sum": 0,
												"Column 3": ""
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										}
									]
								]
							}
						}
					],
					"Coda14": [
						{
							"executionIndex": 10,
							"source": [
								{
									"previousNode": "Coda13"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "i-RcjdUMVbeN",
												"number": 101,
												"sum": 0,
												"Column 3": ""
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										}
									]
								]
							}
						}
					],
					"Coda7": [
						{
							"executionIndex": 11,
							"source": [
								{
									"previousNode": "Coda6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "i-RcjdUMVbeN",
												"number": 101,
												"sum": 0,
												"Column 3": ""
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set1": [
						{
							"executionIndex": 12,
							"source": [
								{
									"previousNode": "Coda14"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"number": 102,
												"sum": 0
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Set": [
						{
							"executionIndex": 13,
							"source": [
								{
									"previousNode": "Coda7"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"number": 101,
												"sum": 0
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Coda15": [
						{
							"executionIndex": 14,
							"source": [
								{
									"previousNode": "Set1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"number": 102,
												"sum": 0
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Coda8": [
						{
							"executionIndex": 15,
							"source": [
								{
									"previousNode": "Set"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"number": 101,
												"sum": 0
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Coda16": [
						{
							"executionIndex": 16,
							"source": [
								{
									"previousNode": "Coda15"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"rowId": "i-RcjdUMVbeN",
												"columnId": "c-hTB8QwFtUS",
												"requestId": "mutate:bd893c6d-a97d-4b87-aeb1-5d5d4e39949b"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Coda10": [
						{
							"executionIndex": 17,
							"source": [
								{
									"previousNode": "Coda8"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"rowId": "i-RcjdUMVbeN",
												"columnId": "c-hTB8QwFtUS",
												"requestId": "mutate:f627e5c9-9470-4012-ab2d-b03fa29b879e"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Coda9": [
						{
							"executionIndex": 18,
							"source": [
								{
									"previousNode": "Coda10"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"rowId": "i-RcjdUMVbeN",
												"columnId": "c-hTB8QwFtUS",
												"requestId": "mutate:f627e5c9-9470-4012-ab2d-b03fa29b879e"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Coda9"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
