packages/testing/playwright/test-workflows/snapshots/53-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:08.544Z",
		"workflowId": "53"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"ConvertKit": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 1053233,
												"name": "ck_field_1053233_testfield07500777612560727",
												"key": "testfield0_7500777612560727",
												"label": "testField0.7500777612560727"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"ConvertKit4": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 2059113,
												"name": "TestForm",
												"created_at": "2021-02-22T09:16:09.000Z",
												"type": "embed",
												"format": "inline",
												"embed_js": "https://chipper-musician-5875.kit.com/bec913a630/index.js",
												"embed_url": "https://chipper-musician-5875.kit.com/bec913a630",
												"archived": false,
												"uid": "bec913a630"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"ConvertKit1": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "ConvertKit"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 213135,
												"name": "ck_field_213135_testfield",
												"key": "testfield",
												"label": "testField"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"ConvertKit5": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "ConvertKit4"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 10804980192,
												"state": "inactive",
												"created_at": "2025-07-17T15:47:03.000Z",
												"source": "API::V3::SubscriptionsController (external)",
												"referrer": null,
												"subscribable_id": 2059113,
												"subscribable_type": "form",
												"subscriber": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"ConvertKit2": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "ConvertKit1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"ConvertKit7": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "ConvertKit5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 9135854,
												"name": "tag1752767224187",
												"created_at": "2025-07-17T15:47:04.000Z"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"ConvertKit3": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "ConvertKit2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"ConvertKit8": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "ConvertKit7"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 2205755,
												"name": "tag1613985759319",
												"created_at": "2021-02-22T09:22:40.000Z"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"ConvertKit9": [
						{
							"executionIndex": 9,
							"source": [
								{
									"previousNode": "ConvertKit8"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 10804980514,
												"state": "active",
												"created_at": "2025-07-17T15:47:06.000Z",
												"source": "API::V3::SubscriptionsController (external)",
												"referrer": null,
												"subscribable_id": 9135854,
												"subscribable_type": "tag",
												"subscriber": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"ConvertKit10": [
						{
							"executionIndex": 10,
							"source": [
								{
									"previousNode": "ConvertKit9"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 5473427365,
												"state": "active",
												"created_at": "2025-07-17T15:47:06.000Z",
												"source": null,
												"referrer": null,
												"subscribable_id": 9135854,
												"subscribable_type": "Tag",
												"subscriber": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"ConvertKit11": [
						{
							"executionIndex": 11,
							"source": [
								{
									"previousNode": "ConvertKit10"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": 9135854,
												"name": "tag1752767224187",
												"created_at": "2025-07-17T15:47:04.000Z"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"ConvertKit6": [
						{
							"executionIndex": 12,
							"source": [
								{
									"previousNode": "ConvertKit11"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [[]]
							}
						}
					]
				},
				"lastNodeExecuted": "ConvertKit6"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
