packages/testing/playwright/test-workflows/snapshots/55-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:05.040Z",
		"workflowId": "55"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Hunter": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"value": "ben@n8n.io",
												"type": "personal",
												"confidence": 99,
												"sources": ["json array"],
												"first_name": "Ben",
												"last_name": "Kiziltug",
												"position": "Vice President of Sales",
												"position_raw": "VP Sales",
												"seniority": "executive",
												"department": "sales",
												"linkedin": "https://www.linkedin.com/in/benkiziltug",
												"twitter": null,
												"phone_number": null,
												"verification": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Hunter1": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Hunter"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"first_name": null,
												"last_name": null,
												"email": null,
												"score": null,
												"domain": "n8n.io",
												"accept_all": null,
												"position": null,
												"twitter": null,
												"linkedin_url": null,
												"phone_number": null,
												"company": null,
												"sources": ["json array"],
												"verification": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Hunter2": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Hunter1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"status": "valid",
												"result": "deliverable",
												"_deprecation_notice": "Using result is deprecated, use status instead",
												"score": 90,
												"email": "nodeqa@n8n.io",
												"regexp": true,
												"gibberish": false,
												"disposable": false,
												"webmail": false,
												"mx_records": true,
												"smtp_server": true,
												"smtp_check": true,
												"accept_all": false,
												"block": false,
												"sources": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Hunter2"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
