packages/testing/playwright/test-workflows/snapshots/58-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:08.577Z",
		"workflowId": "58"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Todoist": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "9358822022",
												"assigner_id": null,
												"assignee_id": null,
												"project_id": "2259097055",
												"section_id": null,
												"parent_id": null,
												"order": 24,
												"content": "Test Task",
												"description": "",
												"is_completed": false,
												"labels": ["json array"],
												"priority": 1,
												"comment_count": 0,
												"creator_id": "32694069",
												"created_at": "2025-07-17T15:47:04.527495Z",
												"due": null,
												"url": "https://app.todoist.com/app/task/9358822022",
												"duration": null,
												"deadline": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Todoist1": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Todoist"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "9358822022",
												"assigner_id": null,
												"assignee_id": null,
												"project_id": "2259097055",
												"section_id": null,
												"parent_id": null,
												"order": 24,
												"content": "Test Task",
												"description": "",
												"is_completed": false,
												"labels": ["json array"],
												"priority": 1,
												"comment_count": 0,
												"creator_id": "32694069",
												"created_at": "2025-07-17T15:47:04.527495Z",
												"due": null,
												"url": "https://app.todoist.com/app/task/9358822022",
												"duration": null,
												"deadline": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Todoist2": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Todoist1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Todoist3": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Todoist2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Todoist5": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Todoist3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "4610234385",
												"assigner_id": null,
												"assignee_id": null,
												"project_id": "2259097055",
												"section_id": null,
												"parent_id": null,
												"order": 1,
												"content": "Test Task",
												"description": "",
												"is_completed": false,
												"labels": ["json array"],
												"priority": 1,
												"comment_count": 0,
												"creator_id": "32694069",
												"created_at": "2021-02-25T12:23:24.274629Z",
												"due": null,
												"url": "https://app.todoist.com/app/task/4610234385",
												"duration": null,
												"deadline": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Todoist4": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Todoist5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Todoist4"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
