packages/testing/playwright/test-workflows/snapshots/61-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:11.095Z",
		"workflowId": "61"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"external_urls": {
													"object": true
												},
												"followers": {
													"object": true
												},
												"genres": ["json array"],
												"href": "https://api.spotify.com/v1/artists/0dwFxqYkvZLSA6U6XfQcDV",
												"id": "0dwFxqYkvZLSA6U6XfQcDV",
												"images": ["json array"],
												"name": "Fairuz",
												"popularity": 66,
												"type": "artist",
												"uri": "spotify:artist:0dwFxqYkvZLSA6U6XfQcDV"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify8": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"collaborative": false,
												"description": "null",
												"external_urls": {
													"object": true
												},
												"href": "https://api.spotify.com/v1/playlists/4q7gW9dR9RZtWzDiI1Px7a",
												"id": "4q7gW9dR9RZtWzDiI1Px7a",
												"images": null,
												"name": "Playlist1752765847489",
												"owner": {
													"object": true
												},
												"primary_color": null,
												"public": true,
												"snapshot_id": "AAAAATjJC2roc3OnzRlRQKpLLqcooE2o",
												"tracks": {
													"object": true
												},
												"type": "playlist",
												"uri": "spotify:playlist:4q7gW9dR9RZtWzDiI1Px7a"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify14": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [[]]
							}
						}
					],
					"Spotify17": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"added_at": "2021-03-09T20:01:56Z",
												"track": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify1": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Spotify"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"album_type": "album",
												"total_tracks": 9,
												"available_markets": ["json array"],
												"external_urls": {
													"object": true
												},
												"href": "https://api.spotify.com/v1/albums/5ZJnifXQ8ovGURQY7XhgCG",
												"id": "5ZJnifXQ8ovGURQY7XhgCG",
												"images": ["json array"],
												"name": "Fauroziat فيروزيات (Instrumental)",
												"release_date": "2024-12-21",
												"release_date_precision": "day",
												"type": "album",
												"uri": "spotify:album:5ZJnifXQ8ovGURQY7XhgCG",
												"artists": ["json array"],
												"album_group": "album"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify3": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Spotify"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"album": {
													"object": true
												},
												"artists": ["json array"],
												"available_markets": ["json array"],
												"disc_number": 1,
												"duration_ms": 202997,
												"explicit": false,
												"external_ids": {
													"object": true
												},
												"external_urls": {
													"object": true
												},
												"href": "https://api.spotify.com/v1/tracks/1Xf9s0vxxGyiMHQDtxK9Cu",
												"id": "1Xf9s0vxxGyiMHQDtxK9Cu",
												"is_local": false,
												"is_playable": true,
												"name": "Konna Netlaka",
												"popularity": 63,
												"preview_url": "https://p.scdn.co/mp3-preview/43c539282f10c04afca6c696af461ca23fac47c8?cid=d6fc82a01ffb43538b33c4003257c758",
												"track_number": 1,
												"type": "track",
												"uri": "spotify:track:1Xf9s0vxxGyiMHQDtxK9Cu"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify2": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Spotify"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"external_urls": {
													"object": true
												},
												"followers": {
													"object": true
												},
												"genres": ["json array"],
												"href": "https://api.spotify.com/v1/artists/1FcYCSOydUCgoauspPwypS",
												"id": "1FcYCSOydUCgoauspPwypS",
												"images": ["json array"],
												"name": "Majida El Roumi",
												"popularity": 50,
												"type": "artist",
												"uri": "spotify:artist:1FcYCSOydUCgoauspPwypS"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify9": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "Spotify8"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"collaborative": false,
												"description": "null",
												"external_urls": {
													"object": true
												},
												"followers": {
													"object": true
												},
												"href": "https://api.spotify.com/v1/playlists/4q7gW9dR9RZtWzDiI1Px7a",
												"id": "4q7gW9dR9RZtWzDiI1Px7a",
												"images": null,
												"name": "Playlist1752765847489",
												"owner": {
													"object": true
												},
												"primary_color": null,
												"public": true,
												"snapshot_id": "AAAAATjJC2roc3OnzRlRQKpLLqcooE2o",
												"tracks": {
													"object": true
												},
												"type": "playlist",
												"uri": "spotify:playlist:4q7gW9dR9RZtWzDiI1Px7a"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify4": [
						{
							"executionIndex": 9,
							"source": [
								{
									"previousNode": "Spotify1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"album_type": "album",
												"total_tracks": 9,
												"available_markets": ["json array"],
												"external_urls": {
													"object": true
												},
												"href": "https://api.spotify.com/v1/albums/5ZJnifXQ8ovGURQY7XhgCG",
												"id": "5ZJnifXQ8ovGURQY7XhgCG",
												"images": ["json array"],
												"name": "Fauroziat فيروزيات (Instrumental)",
												"release_date": "2024-12-21",
												"release_date_precision": "day",
												"type": "album",
												"uri": "spotify:album:5ZJnifXQ8ovGURQY7XhgCG",
												"artists": ["json array"],
												"tracks": {
													"object": true
												},
												"copyrights": ["json array"],
												"external_ids": {
													"object": true
												},
												"genres": ["json array"],
												"label": "Atef Bahr",
												"popularity": 33
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify10": [
						{
							"executionIndex": 10,
							"source": [
								{
									"previousNode": "Spotify9"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"snapshot_id": "AAAAAoRMouym050I4sziG9BvkTzP9Fsd"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify13": [
						{
							"executionIndex": 11,
							"source": [
								{
									"previousNode": "Spotify4"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"album_type": "album",
												"artists": ["json array"],
												"available_markets": ["json array"],
												"external_urls": {
													"object": true
												},
												"href": "https://api.spotify.com/v1/albums/5HeCKPHYZYu75JKHtzdDRI",
												"id": "5HeCKPHYZYu75JKHtzdDRI",
												"images": ["json array"],
												"name": "Ebtadena",
												"release_date": "2025-07-03",
												"release_date_precision": "day",
												"total_tracks": 15,
												"type": "album",
												"uri": "spotify:album:5HeCKPHYZYu75JKHtzdDRI"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify11": [
						{
							"executionIndex": 12,
							"source": [
								{
									"previousNode": "Spotify10"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"added_at": "2025-07-17T15:47:09Z",
												"added_by": {
													"object": true
												},
												"is_local": false,
												"primary_color": null,
												"track": {
													"object": true
												},
												"video_thumbnail": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify5": [
						{
							"executionIndex": 13,
							"source": [
								{
									"previousNode": "Spotify13"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"artists": ["json array"],
												"available_markets": ["json array"],
												"disc_number": 1,
												"duration_ms": 304266,
												"explicit": false,
												"external_urls": {
													"object": true
												},
												"href": "https://api.spotify.com/v1/tracks/3M84jLJbkduv2Zc3xIHPRl",
												"id": "3M84jLJbkduv2Zc3xIHPRl",
												"name": "Tayr Lwarwar طير الوروار",
												"preview_url": "https://p.scdn.co/mp3-preview/eb6cfe4dab53c8c9e2689539539fd8e492212fcc?cid=d6fc82a01ffb43538b33c4003257c758",
												"track_number": 1,
												"type": "track",
												"uri": "spotify:track:3M84jLJbkduv2Zc3xIHPRl",
												"is_local": false
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify12": [
						{
							"executionIndex": 14,
							"source": [
								{
									"previousNode": "Spotify11"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"success": true
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify6": [
						{
							"executionIndex": 15,
							"source": [
								{
									"previousNode": "Spotify5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"album": {
													"object": true
												},
												"artists": ["json array"],
												"available_markets": ["json array"],
												"disc_number": 1,
												"duration_ms": 304266,
												"explicit": false,
												"external_ids": {
													"object": true
												},
												"external_urls": {
													"object": true
												},
												"href": "https://api.spotify.com/v1/tracks/3M84jLJbkduv2Zc3xIHPRl",
												"id": "3M84jLJbkduv2Zc3xIHPRl",
												"is_local": false,
												"name": "Tayr Lwarwar طير الوروار",
												"popularity": 32,
												"preview_url": "https://p.scdn.co/mp3-preview/eb6cfe4dab53c8c9e2689539539fd8e492212fcc?cid=d6fc82a01ffb43538b33c4003257c758",
												"track_number": 1,
												"type": "track",
												"uri": "spotify:track:3M84jLJbkduv2Zc3xIHPRl"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify16": [
						{
							"executionIndex": 16,
							"source": [
								{
									"previousNode": "Spotify12"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"collaborative": false,
												"description": "null",
												"external_urls": {
													"object": true
												},
												"followers": {
													"object": true
												},
												"href": "https://api.spotify.com/v1/playlists/5elgc9yh2nnbERJwsjYJpa",
												"id": "5elgc9yh2nnbERJwsjYJpa",
												"images": ["json array"],
												"primary_color": null,
												"name": "Playlist1752767230656",
												"type": "playlist",
												"uri": "spotify:playlist:5elgc9yh2nnbERJwsjYJpa",
												"owner": {
													"object": true
												},
												"public": true,
												"snapshot_id": "AAAKikwdBL0hhlJOJDRhBGSkyj7fmaKF",
												"tracks": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Spotify7": [
						{
							"executionIndex": 17,
							"source": [
								{
									"previousNode": "Spotify6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"danceability": 0.599,
												"energy": 0.639,
												"key": 0,
												"loudness": -7.542,
												"mode": 1,
												"speechiness": 0.0448,
												"acousticness": 0.307,
												"instrumentalness": 0.363,
												"liveness": 0.0685,
												"valence": 0.78,
												"tempo": 119.334,
												"type": "audio_features",
												"id": "3M84jLJbkduv2Zc3xIHPRl",
												"uri": "spotify:track:3M84jLJbkduv2Zc3xIHPRl",
												"track_href": "https://api.spotify.com/v1/tracks/3M84jLJbkduv2Zc3xIHPRl",
												"analysis_url": "https://api.spotify.com/v1/audio-analysis/3M84jLJbkduv2Zc3xIHPRl",
												"duration_ms": 304267,
												"time_signature": 4
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Spotify7"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
