packages/testing/playwright/test-workflows/snapshots/62-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:09.659Z",
		"workflowId": "62"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"ProfitWell": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "fd47e958-b607-46be-b5b1-2e87c43dffbf",
												"name": "n8nqa",
												"currency": "eur",
												"timezone": "Europe/Paris"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"ProfitWell1": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"recurring_revenue": 0,
												"date": "2025-07",
												"new_recurring_revenue": 0,
												"existing_recurring_revenue": 0,
												"churned_recurring_revenue": 0,
												"churned_recurring_revenue_cancellations": 0,
												"churned_recurring_revenue_delinquent": 0,
												"upgraded_recurring_revenue": 0,
												"downgraded_recurring_revenue": 0,
												"reactivated_recurring_revenue": 0,
												"active_customers": 0,
												"new_customers": 0,
												"existing_customers": 0,
												"churned_customers": 0,
												"churned_customers_cancellations": 0,
												"churned_customers_delinquent": 0,
												"upgraded_customers": 0,
												"downgraded_customers": 0,
												"reactivated_customers": 0,
												"average_revenue_per_user": 0,
												"lifetime_value": null,
												"customers_churn_rate": null,
												"customers_churn_cancellations_rate": null,
												"customers_churn_delinquent_rate": null,
												"revenue_churn_rate": null,
												"revenue_churn_cancellations_rate": null,
												"revenue_churn_delinquent_rate": null,
												"revenue_retention_rate": null,
												"customers_retention_rate": null,
												"downgrade_rate": null,
												"upgrade_rate": null,
												"growth_rate": null,
												"saas_quick_ratio": null,
												"converted_recurring_revenue": 0,
												"new_trialing_customers": 0,
												"existing_trialing_customers": 1,
												"churned_trialing_customers": 0,
												"converted_customers": 0,
												"active_trialing_customers": 1,
												"customer_conversion_rate": 0,
												"trial_conversion_time": null
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"ProfitWell2": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "ProfitWell1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"new_recurring_revenue": ["json array"],
												"upgraded_recurring_revenue": ["json array"],
												"downgraded_recurring_revenue": ["json array"],
												"churned_recurring_revenue": ["json array"],
												"reactivated_recurring_revenue": ["json array"],
												"new_customers": ["json array"],
												"upgraded_customers": ["json array"],
												"downgraded_customers": ["json array"],
												"churned_customers": ["json array"],
												"reactivated_customers": ["json array"],
												"recurring_revenue": ["json array"],
												"cumulative_net_new_mrr": ["json array"],
												"future_churn_mrr": ["json array"],
												"cumulative_new_trialing_customers": ["json array"],
												"active_customers": ["json array"]
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "ProfitWell2"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
