packages/testing/playwright/test-workflows/snapshots/67-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:15.069Z",
		"workflowId": "67"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"archived": false,
												"color": 1,
												"created_ts": 1752767230,
												"creator": 511904,
												"default_groups": ["json array"],
												"default_recipients": ["json array"],
												"description": "",
												"filters": {
													"object": true
												},
												"icon": 0,
												"id": 799587,
												"is_favorited": false,
												"name": "TestChannel1752767229683",
												"public": false,
												"use_default_recipients": false,
												"user_ids": ["json array"],
												"version": 0,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist4": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"actions": ["json array"],
												"attachments": ["json array"],
												"content": "Message 1752767230124",
												"conversation_id": 1067233,
												"creator": 511904,
												"creator_name": "nodeqa",
												"deleted": false,
												"direct_group_mentions": ["json array"],
												"direct_mentions": ["json array"],
												"id": 103835390,
												"last_edited_ts": null,
												"obj_index": 3160,
												"posted_ts": 1752767230,
												"reactions": {
													"object": true
												},
												"system_message": null,
												"version": 0,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist13": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Twist"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"actions": ["json array"],
												"attachments": ["json array"],
												"channel_id": 799587,
												"closed": false,
												"comment_count": 0,
												"content": "test",
												"creator": 511904,
												"creator_name": "nodeqa",
												"direct_group_mentions": ["json array"],
												"direct_mentions": ["json array"],
												"groups": ["json array"],
												"id": 7126933,
												"in_inbox": false,
												"is_archived": true,
												"is_saved": false,
												"last_comment": null,
												"last_edited_ts": null,
												"last_obj_index": -1,
												"last_updated_ts": 1752767231,
												"muted_until_ts": null,
												"participants": ["json array"],
												"pinned": false,
												"pinned_ts": null,
												"posted_ts": 1752767231,
												"reactions": {
													"object": true
												},
												"recipients": ["json array"],
												"responders": ["json array"],
												"snippet": "test",
												"snippet_creator": 511904,
												"snippet_mask_avatar_url": null,
												"snippet_mask_poster": null,
												"starred": false,
												"system_message": null,
												"title": "Thread1752767230500",
												"to_emails": ["json array"],
												"version": 0,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist9": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Twist4"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"actions": ["json array"],
												"attachments": ["json array"],
												"content": "Message 1752767230124",
												"conversation_id": 1067233,
												"creator": 511904,
												"creator_name": "nodeqa",
												"deleted": false,
												"direct_group_mentions": ["json array"],
												"direct_mentions": ["json array"],
												"id": 103835390,
												"last_edited_ts": null,
												"obj_index": 3160,
												"posted_ts": 1752767230,
												"reactions": {
													"object": true
												},
												"system_message": null,
												"version": 0,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist18": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Twist13"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"actions": ["json array"],
												"attachments": ["json array"],
												"channel_id": 799587,
												"content": "Comment1752767230889",
												"creator": 511904,
												"creator_name": "nodeqa",
												"deleted": false,
												"deleted_by": null,
												"direct_group_mentions": ["json array"],
												"direct_mentions": ["json array"],
												"groups": ["json array"],
												"id": 97691174,
												"last_edited_ts": null,
												"obj_index": 0,
												"posted_ts": 1752767231,
												"reactions": {
													"object": true
												},
												"recipients": ["json array"],
												"system_message": null,
												"thread_id": 7126933,
												"to_emails": ["json array"],
												"version": 0,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist10": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Twist9"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"actions": ["json array"],
												"attachments": ["json array"],
												"content": "Message 1752767230124",
												"conversation_id": 1067233,
												"creator": 511904,
												"creator_name": "nodeqa",
												"deleted": false,
												"direct_group_mentions": ["json array"],
												"direct_mentions": ["json array"],
												"id": 103835390,
												"last_edited_ts": null,
												"obj_index": 3160,
												"posted_ts": 1752767230,
												"reactions": {
													"object": true
												},
												"system_message": null,
												"version": 0,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist19": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Twist18"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"actions": ["json array"],
												"attachments": ["json array"],
												"channel_id": 799587,
												"content": "Comment1752767230889",
												"creator": 511904,
												"creator_name": "nodeqa",
												"deleted": false,
												"deleted_by": null,
												"direct_group_mentions": ["json array"],
												"direct_mentions": ["json array"],
												"groups": ["json array"],
												"id": 97691174,
												"last_edited_ts": null,
												"obj_index": 0,
												"posted_ts": 1752767231,
												"reactions": {
													"object": true
												},
												"recipients": ["json array"],
												"system_message": null,
												"thread_id": 7126933,
												"to_emails": ["json array"],
												"version": 0,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist11": [
						{
							"executionIndex": 8,
							"source": [
								{
									"previousNode": "Twist10"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"actions": ["json array"],
												"attachments": ["json array"],
												"content": "Message 1752767230124",
												"conversation_id": 1067233,
												"creator": 511904,
												"creator_name": "nodeqa",
												"deleted": false,
												"direct_group_mentions": ["json array"],
												"direct_mentions": ["json array"],
												"id": 103835390,
												"last_edited_ts": null,
												"obj_index": 3160,
												"posted_ts": 1752767230,
												"reactions": {
													"object": true
												},
												"system_message": null,
												"version": 1,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist20": [
						{
							"executionIndex": 9,
							"source": [
								{
									"previousNode": "Twist19"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"actions": ["json array"],
												"attachments": ["json array"],
												"channel_id": 799587,
												"content": "Updated Content",
												"creator": 511904,
												"creator_name": "nodeqa",
												"deleted": false,
												"deleted_by": null,
												"direct_group_mentions": ["json array"],
												"direct_mentions": ["json array"],
												"groups": ["json array"],
												"id": 97691174,
												"last_edited_ts": 1752767232,
												"obj_index": 0,
												"posted_ts": 1752767231,
												"reactions": {
													"object": true
												},
												"recipients": ["json array"],
												"system_message": null,
												"thread_id": 7126933,
												"to_emails": ["json array"],
												"version": 1,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist12": [
						{
							"executionIndex": 10,
							"source": [
								{
									"previousNode": "Twist11"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"status": "ok"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist21": [
						{
							"executionIndex": 11,
							"source": [
								{
									"previousNode": "Twist20"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"actions": ["json array"],
												"attachments": ["json array"],
												"channel_id": 799587,
												"content": "Updated Content",
												"creator": 511904,
												"creator_name": "nodeqa",
												"deleted": false,
												"deleted_by": null,
												"direct_group_mentions": ["json array"],
												"direct_mentions": ["json array"],
												"groups": ["json array"],
												"id": 97691174,
												"last_edited_ts": 1752767232,
												"obj_index": 0,
												"posted_ts": 1752767231,
												"reactions": {
													"object": true
												},
												"recipients": ["json array"],
												"system_message": null,
												"thread_id": 7126933,
												"to_emails": ["json array"],
												"version": 1,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist22": [
						{
							"executionIndex": 12,
							"source": [
								{
									"previousNode": "Twist21"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"status": "ok"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist14": [
						{
							"executionIndex": 13,
							"source": [
								{
									"previousNode": "Twist22"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"actions": ["json array"],
												"attachments": ["json array"],
												"channel_id": 799587,
												"closed": false,
												"comment_count": 1,
												"content": "test",
												"creator": 511904,
												"creator_name": "nodeqa",
												"direct_group_mentions": ["json array"],
												"direct_mentions": ["json array"],
												"groups": ["json array"],
												"id": 7126933,
												"in_inbox": false,
												"is_archived": true,
												"is_saved": false,
												"last_comment": {
													"object": true
												},
												"last_edited_ts": null,
												"last_obj_index": 0,
												"last_updated_ts": 1752767231,
												"muted_until_ts": null,
												"participants": ["json array"],
												"pinned": false,
												"pinned_ts": null,
												"posted_ts": 1752767231,
												"reactions": {
													"object": true
												},
												"recipients": ["json array"],
												"responders": ["json array"],
												"snippet": "test",
												"snippet_creator": 511904,
												"snippet_mask_avatar_url": null,
												"snippet_mask_poster": null,
												"starred": false,
												"system_message": null,
												"title": "Thread1752767230500",
												"to_emails": ["json array"],
												"version": 3,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist15": [
						{
							"executionIndex": 14,
							"source": [
								{
									"previousNode": "Twist14"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"actions": ["json array"],
												"attachments": ["json array"],
												"channel_id": 799587,
												"closed": false,
												"comment_count": 1,
												"content": "Updated Content",
												"creator": 511904,
												"creator_name": "nodeqa",
												"direct_group_mentions": ["json array"],
												"direct_mentions": ["json array"],
												"groups": ["json array"],
												"id": 7126933,
												"in_inbox": false,
												"is_archived": true,
												"is_saved": false,
												"last_comment": {
													"object": true
												},
												"last_edited_ts": 1752767233,
												"last_obj_index": 0,
												"last_updated_ts": 1752767231,
												"muted_until_ts": null,
												"participants": ["json array"],
												"pinned": false,
												"pinned_ts": null,
												"posted_ts": 1752767231,
												"reactions": {
													"object": true
												},
												"recipients": ["json array"],
												"responders": ["json array"],
												"snippet": "test",
												"snippet_creator": 511904,
												"snippet_mask_avatar_url": null,
												"snippet_mask_poster": null,
												"starred": false,
												"system_message": null,
												"title": "Thread1752767230500",
												"to_emails": ["json array"],
												"version": 4,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist17": [
						{
							"executionIndex": 15,
							"source": [
								{
									"previousNode": "Twist15"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"actions": ["json array"],
												"attachments": ["json array"],
												"channel_id": 799587,
												"closed": false,
												"comment_count": 1,
												"content": "Updated Content",
												"creator": 511904,
												"creator_name": "nodeqa",
												"direct_group_mentions": ["json array"],
												"direct_mentions": ["json array"],
												"groups": ["json array"],
												"id": 7126933,
												"in_inbox": false,
												"is_archived": true,
												"is_saved": false,
												"last_comment": {
													"object": true
												},
												"last_edited_ts": 1752767233,
												"last_obj_index": 0,
												"last_updated_ts": 1752767231,
												"muted_until_ts": null,
												"participants": ["json array"],
												"pinned": false,
												"pinned_ts": null,
												"posted_ts": 1752767231,
												"reactions": {
													"object": true
												},
												"recipients": ["json array"],
												"responders": ["json array"],
												"snippet": "Updated Content",
												"snippet_creator": 511904,
												"snippet_mask_avatar_url": null,
												"snippet_mask_poster": null,
												"starred": false,
												"system_message": null,
												"title": "Thread1752767230500",
												"to_emails": ["json array"],
												"version": 4,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist16": [
						{
							"executionIndex": 16,
							"source": [
								{
									"previousNode": "Twist17"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"status": "ok"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist1": [
						{
							"executionIndex": 17,
							"source": [
								{
									"previousNode": "Twist16"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"archived": false,
												"color": 1,
												"created_ts": 1752767230,
												"creator": 511904,
												"default_groups": ["json array"],
												"default_recipients": ["json array"],
												"description": "",
												"filters": {
													"object": true
												},
												"icon": 0,
												"id": 799587,
												"is_favorited": false,
												"name": "UpdatedChannel1752767233632",
												"public": false,
												"use_default_recipients": false,
												"user_ids": ["json array"],
												"version": 1,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist2": [
						{
							"executionIndex": 18,
							"source": [
								{
									"previousNode": "Twist1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"archived": false,
												"color": 1,
												"created_ts": 1752767230,
												"creator": 511904,
												"default_groups": ["json array"],
												"default_recipients": ["json array"],
												"description": "",
												"filters": {
													"object": true
												},
												"icon": 0,
												"id": 799587,
												"is_favorited": false,
												"name": "UpdatedChannel1752767233632",
												"public": false,
												"use_default_recipients": false,
												"user_ids": ["json array"],
												"version": 1,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist3": [
						{
							"executionIndex": 19,
							"source": [
								{
									"previousNode": "Twist2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"archived": false,
												"color": 1,
												"created_ts": 1614250659,
												"creator": 511904,
												"default_groups": ["json array"],
												"default_recipients": ["json array"],
												"description": "",
												"filters": {
													"object": true
												},
												"icon": 0,
												"id": 437294,
												"is_favorited": false,
												"name": "General",
												"public": true,
												"use_default_recipients": false,
												"user_ids": ["json array"],
												"version": 0,
												"workspace_id": 164330
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist5": [
						{
							"executionIndex": 20,
							"source": [
								{
									"previousNode": "Twist3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"status": "ok"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist6": [
						{
							"executionIndex": 21,
							"source": [
								{
									"previousNode": "Twist5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"status": "ok"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist7": [
						{
							"executionIndex": 22,
							"source": [
								{
									"previousNode": "Twist6"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"status": "ok"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Twist8": [
						{
							"executionIndex": 23,
							"source": [
								{
									"previousNode": "Twist7"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"status": "ok"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Twist8"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
