packages/testing/playwright/test-workflows/snapshots/81-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:12.011Z",
		"workflowId": "81"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Phantombuster": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "8756817235927468",
												"name": "Email Extractor",
												"createdAt": 1614591862755,
												"scriptOrgName": "phantombuster",
												"scriptId": "6774",
												"script": "Email Extractor.js",
												"branch": "master",
												"environment": "release",
												"manifest": {
													"object": true
												},
												"lastEndType": "finished",
												"lastExitCode": 0,
												"nbContainersRunning": 0,
												"runningTime": null,
												"launchType": "manually",
												"s3Folder": "UKSkFmaigVohTti7pkwW0A"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Phantombuster1": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Phantombuster"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "8756817235927468",
												"scriptOrgName": "phantombuster",
												"scriptId": "6774",
												"script": "Email Extractor.js",
												"branch": "master",
												"environment": "release",
												"argument": "{\n\t\"urls\": [\n\t\t\"https://n8n.io/\"\n\t],\n\t\"timeToWait\": 5000,\n\t\"pagesPerLaunch\": 1,\n\t\"onlyGetOneEmail\": false\n}",
												"code": null,
												"launchType": "manually",
												"s3Folder": "UKSkFmaigVohTti7pkwW0A",
												"orgS3Folder": "sTTpLenO2iY",
												"updatedAt": 1614591972895,
												"name": "Email Extractor",
												"fileMgmt": "mix",
												"lastEndType": "finished"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Phantombuster2": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Phantombuster1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Phantombuster3": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Phantombuster2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"status": "running",
												"output": "",
												"outputPos": 0,
												"canSoftAbort": false
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Phantombuster3"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
