packages/testing/playwright/test-workflows/snapshots/83-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:11.371Z",
		"workflowId": "83"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"RSS Feed Read": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"title": "Runway",
												"link": "https://www.producthunt.com/posts/runway-12",
												"pubDate": "2025-07-14T22:27:57.000Z",
												"author": "Ford Coleman",
												"content": "          <p>\n            Applicant ranking tool that adapts to YOUR hiring priorities\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/runway-12?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/992924?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/992924",
												"isoDate": "2025-07-14T22:27:57.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Beeper",
												"link": "https://www.producthunt.com/posts/beeper-4",
												"pubDate": "2025-07-17T01:29:03.000Z",
												"author": "Chris Messina",
												"content": "          <p>\n            All your chats in one app\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/beeper-4?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993950?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993950",
												"isoDate": "2025-07-17T01:29:03.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Snack it",
												"link": "https://www.producthunt.com/posts/snack-it",
												"pubDate": "2025-07-16T03:48:35.000Z",
												"author": "Eder Teixeira",
												"content": "          <p>\n            Build AI moodboards from anything you see online 🍫\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/snack-it?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993501?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993501",
												"isoDate": "2025-07-16T03:48:35.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "UGCReal",
												"link": "https://www.producthunt.com/posts/ugcreal",
												"pubDate": "2025-07-16T07:37:08.000Z",
												"author": "sam enn",
												"content": "          <p>\n            Turn app screenshots into viral UGC in seconds\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/ugcreal?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993604?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993604",
												"isoDate": "2025-07-16T07:37:08.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Untitled UI React",
												"link": "https://www.producthunt.com/posts/untitled-ui-react",
												"pubDate": "2025-07-07T05:58:29.000Z",
												"author": "Jordan Hughes",
												"content": "          <p>\n            Open-source React components. Just copy, paste, and build.\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/untitled-ui-react?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/989272?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/989272",
												"isoDate": "2025-07-07T05:58:29.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "UTCP",
												"link": "https://www.producthunt.com/posts/utcp",
												"pubDate": "2025-07-15T04:47:15.000Z",
												"author": "Zac Zuo",
												"content": "          <p>\n            The open, direct alternative to MCP for tool calling\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/utcp?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/992998?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/992998",
												"isoDate": "2025-07-15T04:47:15.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "NotebookLM Featured Notebooks",
												"link": "https://www.producthunt.com/posts/notebooklm-featured-notebooks",
												"pubDate": "2025-07-16T03:52:44.000Z",
												"author": "Zac Zuo",
												"content": "          <p>\n            Explore topics with expert-driven sources\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/notebooklm-featured-notebooks?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993502?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993502",
												"isoDate": "2025-07-16T03:52:44.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Uncursor",
												"link": "https://www.producthunt.com/posts/uncursor",
												"pubDate": "2025-07-16T17:42:56.000Z",
												"author": "Jaydan Urwin",
												"content": "          <p>\n            Build apps and websites with AI. On iOS, Android, & the web\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/uncursor?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993834?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993834",
												"isoDate": "2025-07-16T17:42:56.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Symvol",
												"link": "https://www.producthunt.com/posts/symvol-150b90b1-8e78-4e14-b275-ac7654f710d9",
												"pubDate": "2025-07-17T06:59:13.000Z",
												"author": "Feliks Ghazaryan",
												"content": "          <p>\n            Turn any tech doc into a video · vibelearn → vibecode\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/symvol-150b90b1-8e78-4e14-b275-ac7654f710d9?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/994029?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/994029",
												"isoDate": "2025-07-17T06:59:13.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Mezzie",
												"link": "https://www.producthunt.com/posts/mezzie",
												"pubDate": "2025-07-16T07:44:56.000Z",
												"author": "Rob",
												"content": "          <p>\n            Auto‑selects an optimal AI for each message, seamlessly\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/mezzie?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993610?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993610",
												"isoDate": "2025-07-16T07:44:56.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Capable",
												"link": "https://www.producthunt.com/posts/capable",
												"pubDate": "2025-05-16T18:08:01.000Z",
												"author": "Pavel Tseluyko",
												"content": "          <p>\n            Build dynamic prompts to speed up your repetitive work\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/capable?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/966428?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/966428",
												"isoDate": "2025-05-16T18:08:01.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Maestro Studio Desktop Beta",
												"link": "https://www.producthunt.com/posts/maestro-studio-desktop-beta",
												"pubDate": "2025-06-19T19:21:26.000Z",
												"author": "Manu Armani",
												"content": "          <p>\n            Run mobile & web tests in minutes with a desktop app\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/maestro-studio-desktop-beta?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/981046?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/981046",
												"isoDate": "2025-06-19T19:21:26.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Snapsnob",
												"link": "https://www.producthunt.com/posts/snapsnob",
												"pubDate": "2025-07-16T07:56:46.000Z",
												"author": "Nurmukhamed",
												"content": "          <p>\n            Snapsnob is iOS app that helps you clean your photo gallery!\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/snapsnob?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993615?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993615",
												"isoDate": "2025-07-16T07:56:46.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Base App (fka Coinbase Wallet)",
												"link": "https://www.producthunt.com/posts/base-app-fka-coinbase-wallet",
												"pubDate": "2025-07-17T00:56:03.000Z",
												"author": "Chris Messina",
												"content": "          <p>\n            Your home to everything onchain\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/base-app-fka-coinbase-wallet?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993943?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993943",
												"isoDate": "2025-07-17T00:56:03.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "iBucket",
												"link": "https://www.producthunt.com/posts/ibucket-2",
												"pubDate": "2025-07-16T10:54:54.000Z",
												"author": "Kai Mallie",
												"content": "          <p>\n            Achieve goals, plan trips, track places and share memories\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/ibucket-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993690?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993690",
												"isoDate": "2025-07-16T10:54:54.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Textalyz",
												"link": "https://www.producthunt.com/posts/textalyz",
												"pubDate": "2025-06-11T13:09:43.000Z",
												"author": "Jim Raptis",
												"content": "          <p>\n            Bridge language gaps. Write & communicate like a pro\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/textalyz?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/977095?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/977095",
												"isoDate": "2025-06-11T13:09:43.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Kite",
												"link": "https://www.producthunt.com/posts/kite-16",
												"pubDate": "2025-07-15T23:30:52.000Z",
												"author": "Ashton Prescott",
												"content": "          <p>\n            Turn email into your superpower\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/kite-16?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993458?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993458",
												"isoDate": "2025-07-15T23:30:52.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Easy Bookmark Viewer",
												"link": "https://www.producthunt.com/posts/easy-bookmark-viewer-2",
												"pubDate": "2025-07-17T06:13:52.000Z",
												"author": "Himanshu Raikwar",
												"content": "          <p>\n            A beautiful and powerful new tab for your bookmarks.\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/easy-bookmark-viewer-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/994011?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/994011",
												"isoDate": "2025-07-17T06:13:52.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Kawara 2.0",
												"link": "https://www.producthunt.com/posts/kawara-2-0",
												"pubDate": "2025-07-12T21:05:38.000Z",
												"author": "Ben Lang",
												"content": "          <p>\n            Send newsletters consistently, zero writer’s block\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/kawara-2-0?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/991984?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/991984",
												"isoDate": "2025-07-12T21:05:38.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Vmake",
												"link": "https://www.producthunt.com/posts/vmake-2",
												"pubDate": "2025-07-16T12:20:13.000Z",
												"author": "Cyril Hao",
												"content": "          <p>\n            AI talking video editor\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/vmake-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993728?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993728",
												"isoDate": "2025-07-16T12:20:13.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Clevr",
												"link": "https://www.producthunt.com/posts/clevr",
												"pubDate": "2025-07-16T15:24:32.000Z",
												"author": "Mohammed Mustafa",
												"content": "          <p>\n            Finally, an AI that talks and explains it visually\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/clevr?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993794?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993794",
												"isoDate": "2025-07-16T15:24:32.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "ADK-TS",
												"link": "https://www.producthunt.com/posts/adk-ts",
												"pubDate": "2025-07-16T11:05:44.000Z",
												"author": "César Rodríguez",
												"content": "          <p>\n            Build smart, tool-using agents in just one line\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/adk-ts?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993696?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993696",
												"isoDate": "2025-07-16T11:05:44.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Blink",
												"link": "https://www.producthunt.com/posts/blink-9f3ad800-862d-4562-bf61-3f866ab0bdb3",
												"pubDate": "2025-07-14T23:03:31.000Z",
												"author": "Garry Tan",
												"content": "          <p>\n            Build any app in seconds with AI\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/blink-9f3ad800-862d-4562-bf61-3f866ab0bdb3?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/992929?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/992929",
												"isoDate": "2025-07-14T23:03:31.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Mozart AI",
												"link": "https://www.producthunt.com/posts/mozart-ai",
												"pubDate": "2025-06-23T13:02:56.000Z",
												"author": "Chris Messina",
												"content": "          <p>\n            Cursor for music production\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/mozart-ai?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/982567?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/982567",
												"isoDate": "2025-06-23T13:02:56.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Web Companion by Super",
												"link": "https://www.producthunt.com/posts/web-companion-by-super",
												"pubDate": "2025-07-15T17:45:36.000Z",
												"author": "Christophe Pasquier",
												"content": "          <p>\n            Context-aware AI assistants in any web app\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/web-companion-by-super?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993381?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993381",
												"isoDate": "2025-07-15T17:45:36.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Velocity",
												"link": "https://www.producthunt.com/posts/velocity-d5997725-4142-4908-a3c9-56312a68e6e4",
												"pubDate": "2025-03-17T16:38:27.000Z",
												"author": "Rohan Chaubey",
												"content": "          <p>\n            Prompt Figma prototypes then test with humans\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/velocity-d5997725-4142-4908-a3c9-56312a68e6e4?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/943146?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/943146",
												"isoDate": "2025-03-17T16:38:27.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Brain MAX by ClickUp",
												"link": "https://www.producthunt.com/posts/brain-max-by-clickup",
												"pubDate": "2025-07-14T00:00:07.000Z",
												"author": "KP",
												"content": "          <p>\n            One AI app to rule them all: Your knowledge + Talk to Text \n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/brain-max-by-clickup?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/992401?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/992401",
												"isoDate": "2025-07-14T00:00:07.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Dorma",
												"link": "https://www.producthunt.com/posts/dorma",
												"pubDate": "2025-07-15T12:55:25.000Z",
												"author": "Benhur Senabathi",
												"content": "          <p>\n            Feel rested during your trips\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/dorma?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993270?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993270",
												"isoDate": "2025-07-15T12:55:25.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Access 3",
												"link": "https://www.producthunt.com/posts/access-3",
												"pubDate": "2025-07-15T17:35:05.000Z",
												"author": "Andre Baev",
												"content": "          <p>\n            A trusted home for your most sensitive data\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/access-3?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993378?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993378",
												"isoDate": "2025-07-15T17:35:05.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "RouKey",
												"link": "https://www.producthunt.com/posts/roukey",
												"pubDate": "2025-07-16T06:56:04.000Z",
												"author": "Okoro David",
												"content": "          <p>\n            Route each task to the smartest AI for the job\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/roukey?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993580?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993580",
												"isoDate": "2025-07-16T06:56:04.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "AIRI",
												"link": "https://www.producthunt.com/posts/airi",
												"pubDate": "2025-07-16T05:05:06.000Z",
												"author": "Neko Ayaka",
												"content": "          <p>\n            Cyber livings in any devices, Grok Companion alternative\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/airi?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993524?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993524",
												"isoDate": "2025-07-16T05:05:06.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Pagy 2.0",
												"link": "https://www.producthunt.com/posts/pagy-2-0",
												"pubDate": "2025-07-15T23:38:46.000Z",
												"author": "Hernán Sartorio",
												"content": "          <p>\n            Build a website in minutes, for free, and on your own domain\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/pagy-2-0?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993460?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993460",
												"isoDate": "2025-07-15T23:38:46.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Glyp",
												"link": "https://www.producthunt.com/posts/glyp",
												"pubDate": "2025-07-15T09:26:20.000Z",
												"author": "Chris T",
												"content": "          <p>\n            Consistent influencer videos to scale your traffic & revenue\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/glyp?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993155?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993155",
												"isoDate": "2025-07-15T09:26:20.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Webhound",
												"link": "https://www.producthunt.com/posts/webhound",
												"pubDate": "2025-07-12T20:24:38.000Z",
												"author": "Garry Tan",
												"content": "          <p>\n            An AI agent that builds datasets from the web\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/webhound?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/991971?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/991971",
												"isoDate": "2025-07-12T20:24:38.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Devex",
												"link": "https://www.producthunt.com/posts/devex",
												"pubDate": "2025-07-15T23:56:37.000Z",
												"author": "Parth Kapoor",
												"content": "          <p>\n            Your own open-source, containerized and shareable cloud IDE.\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/devex?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993462?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993462",
												"isoDate": "2025-07-15T23:56:37.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Mitte 1.0",
												"link": "https://www.producthunt.com/posts/mitte-1-0",
												"pubDate": "2025-07-15T07:25:14.000Z",
												"author": "Kerem Ali Kaynak",
												"content": "          <p>\n            AI creative suite. Built for precision.\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/mitte-1-0?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993076?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993076",
												"isoDate": "2025-07-15T07:25:14.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Voxtral",
												"link": "https://www.producthunt.com/posts/voxtral",
												"pubDate": "2025-07-16T02:21:39.000Z",
												"author": "Zac Zuo",
												"content": "          <p>\n            Frontier open source speech understanding models\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/voxtral?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993491?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993491",
												"isoDate": "2025-07-16T02:21:39.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "AI Playground",
												"link": "https://www.producthunt.com/posts/ai-playground",
												"pubDate": "2025-07-15T20:30:25.000Z",
												"author": "Sabba Keynejad",
												"content": "          <p>\n            All the latest AI video tools in a single place\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/ai-playground?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993427?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993427",
												"isoDate": "2025-07-15T20:30:25.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Bookva.ai",
												"link": "https://www.producthunt.com/posts/bookva-ai",
												"pubDate": "2025-07-10T15:53:22.000Z",
												"author": "Pavel Kucherbaev",
												"content": "          <p>\n            If Calendly was beautiful as WeTransfer and smart as ChatGPT\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/bookva-ai?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/991109?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/991109",
												"isoDate": "2025-07-10T15:53:22.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Quilt",
												"link": "https://www.producthunt.com/posts/quilt-5",
												"pubDate": "2025-07-15T22:22:42.000Z",
												"author": "Shubham Shah",
												"content": "          <p>\n            Hands-free screenshot automation for macOS\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/quilt-5?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993447?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993447",
												"isoDate": "2025-07-15T22:22:42.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Memno",
												"link": "https://www.producthunt.com/posts/memno",
												"pubDate": "2025-07-14T21:45:08.000Z",
												"author": "Baptiste Laget",
												"content": "          <p>\n            AI with perfect memory and no hallucination\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/memno?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/992910?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/992910",
												"isoDate": "2025-07-14T21:45:08.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Gleam",
												"link": "https://www.producthunt.com/posts/gleam-2",
												"pubDate": "2025-06-12T16:37:44.000Z",
												"author": "Ben Lang",
												"content": "          <p>\n            The Duolingo for social skills\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/gleam-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/977602?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/977602",
												"isoDate": "2025-06-12T16:37:44.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Easy Scribe",
												"link": "https://www.producthunt.com/posts/easy-scribe",
												"pubDate": "2025-07-15T05:53:57.000Z",
												"author": "Fabian Kiprop",
												"content": "          <p>\n            Rich documentation from screen recordings\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/easy-scribe?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993029?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993029",
												"isoDate": "2025-07-15T05:53:57.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "QuickCMD",
												"link": "https://www.producthunt.com/posts/quickcmd",
												"pubDate": "2025-07-15T09:30:47.000Z",
												"author": "Benjamin Frank",
												"content": "          <p>\n            Your favorite commands now in your MacOS menu bar\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/quickcmd?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993158?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993158",
												"isoDate": "2025-07-15T09:30:47.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Web Serve",
												"link": "https://www.producthunt.com/posts/web-serve",
												"pubDate": "2025-07-10T13:00:23.000Z",
												"author": "Kenny Wang",
												"content": "          <p>\n            Simple local static server for dev, sharing, and preview\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/web-serve?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/991032?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/991032",
												"isoDate": "2025-07-10T13:00:23.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Prompter",
												"link": "https://www.producthunt.com/posts/prompter-0c7c9cd9-2a95-4c3c-ac6b-186a457db6e5",
												"pubDate": "2025-05-13T21:42:01.000Z",
												"author": "Mike Davis",
												"content": "          <p>\n            Generate instant AI prompts based on your projects\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/prompter-0c7c9cd9-2a95-4c3c-ac6b-186a457db6e5?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965076?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/965076",
												"isoDate": "2025-05-13T21:42:01.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Haplo AI",
												"link": "https://www.producthunt.com/posts/haplo-ai",
												"pubDate": "2025-07-15T18:14:41.000Z",
												"author": "JC",
												"content": "          <p>\n            Secure & local AI chatbot for iOS and macOS\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/haplo-ai?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993390?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993390",
												"isoDate": "2025-07-15T18:14:41.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Jokr.bar",
												"link": "https://www.producthunt.com/posts/jokr-bar",
												"pubDate": "2025-07-15T19:49:26.000Z",
												"author": "Cem Özçelik",
												"content": "          <p>\n            A well-timed joke to stop your visitors from bouncing.\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/jokr-bar?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993418?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/993418",
												"isoDate": "2025-07-15T19:49:26.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "InfiniDesk",
												"link": "https://www.producthunt.com/posts/infinidesk",
												"pubDate": "2025-07-13T15:58:36.000Z",
												"author": "Ben Shirt-Ediss",
												"content": "          <p>\n            Boost your focus on Mac with project-specific desktops\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/infinidesk?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/992246?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/992246",
												"isoDate": "2025-07-13T15:58:36.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										},
										{
											"json": {
												"title": "Faces",
												"link": "https://www.producthunt.com/posts/faces-4",
												"pubDate": "2025-07-14T20:40:02.000Z",
												"author": "Aaron O'Leary",
												"content": "          <p>\n            Instant sites for decks, docs, landings and more\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/faces-4?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/992892?app_id=339\">Link</a>\n          </p>\n",
												"contentSnippet": "Discussion\n            |\n            Link",
												"id": "tag:www.producthunt.com,2005:Post/992892",
												"isoDate": "2025-07-14T20:40:02.000Z"
											},
											"pairedItem": [
												{
													"item": 0
												}
											]
										}
									]
								]
							}
						}
					],
					"Function": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "RSS Feed Read"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [[]]
							}
						}
					]
				},
				"lastNodeExecuted": "Function"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
