packages/testing/playwright/test-workflows/snapshots/90-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:12.684Z",
		"workflowId": "90"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Date & Time": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"data": "03/03/2021"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Date & Time1": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Date & Time"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"data": "2021/03/03"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Date & Time2": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Date & Time1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"data": "March 03 2021"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Date & Time3": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Date & Time2"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"data": "03-03-2021"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Date & Time4": [
						{
							"executionIndex": 5,
							"source": [
								{
									"previousNode": "Date & Time3"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"data": "2021-03-03"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Date & Time5": [
						{
							"executionIndex": 6,
							"source": [
								{
									"previousNode": "Date & Time4"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"data": "1614764492"
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Function": [
						{
							"executionIndex": 7,
							"source": [
								{
									"previousNode": "Date & Time5"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"data": "1614764492"
											},
											"pairedItem": {
												"item": 0
											},
											"index": 0
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Function"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
