packages/testing/playwright/test-workflows/snapshots/93-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:12.942Z",
		"workflowId": "93"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"FunctionItem": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"name": "test",
												"indexes": ["json array"],
												"subobj": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"Move Binary Data": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "FunctionItem"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											},
											"binary": {
												"data": {
													"mimeType": "application/json",
													"fileType": "json",
													"fileExtension": "json",
													"data": "eyJuYW1lIjoidGVzdCIsImluZGV4ZXMiOlsxLDIsM10sInN1Ym9iaiI6eyJuYW1lIjoic3VidGVzdCJ9fQ==",
													"fileSize": "61 B"
												}
											}
										}
									]
								]
							}
						}
					],
					"Move Binary Data1": [
						{
							"executionIndex": 3,
							"source": [
								{
									"previousNode": "Move Binary Data"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"name": "test",
												"indexes": ["json array"],
												"subobj": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											},
											"binary": {}
										}
									]
								]
							}
						}
					],
					"Function": [
						{
							"executionIndex": 4,
							"source": [
								{
									"previousNode": "Move Binary Data1"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"name": "test",
												"indexes": ["json array"],
												"subobj": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											},
											"binary": {},
											"index": 0
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "Function"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
