packages/testing/playwright/test-workflows/snapshots/96-snapshot.json
{
	"_meta": {
		"shallow": true,
		"createdAt": "2025-07-17T15:47:14.167Z",
		"workflowId": "96"
	},
	"result": {
		"data": {
			"startData": {},
			"resultData": {
				"runData": {
					"Start": [
						{
							"executionIndex": 0,
							"source": [],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"MessageBird": [
						{
							"executionIndex": 1,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"payment": "prepaid",
												"type": "dollars",
												"amount": 0
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					],
					"MessageBird1": [
						{
							"executionIndex": 2,
							"source": [
								{
									"previousNode": "Start"
								}
							],
							"hints": [],
							"executionStatus": "success",
							"data": {
								"main": [
									[
										{
											"json": {
												"id": "d41598c544f2412a83e8a1ed696c304d",
												"href": "https://rest.messagebird.com/messages/d41598c544f2412a83e8a1ed696c304d",
												"direction": "mt",
												"type": "sms",
												"originator": "4930270504079",
												"body": "TestMessage",
												"reference": null,
												"validity": null,
												"gateway": 10,
												"typeDetails": {
													"object": true
												},
												"datacoding": "plain",
												"mclass": 1,
												"scheduledDatetime": null,
												"createdDatetime": "2025-07-17T15:47:14+00:00",
												"recipients": {
													"object": true
												}
											},
											"pairedItem": {
												"item": 0
											}
										}
									]
								]
							}
						}
					]
				},
				"lastNodeExecuted": "MessageBird1"
			},
			"executionData": {
				"contextData": {},
				"nodeExecutionStack": [],
				"metadata": {},
				"waitingExecution": {},
				"waitingExecutionSource": {}
			}
		},
		"mode": "cli",
		"status": "running",
		"finished": true
	}
}
